[2014-09-19 19:30] yatagan opened #1 "TypeError: undefined is not a function"
I've got an error:

![screen shot 2014-09-19 at 10 23 25 pm](https://cloud.githubusercontent.com/assets/724577/4340836/96e42052-4032-11e4-91e3-5daf370363de.png)

looks like the link handler in froala derective expects that element parameter is a jquery object, but it is not. if add element = $(element) after 15 line in angular-froala.js it's partly fixed.

What I missed in module set-upping? :)

[2014-09-20 07:01] #1 closed, assigned to nobody

[2014-10-03 21:28] JosephShering opened #2 "undefined is not a function"
I'm getting this error when the program tries to run

`element.editable('setHTML', ngModel.$viewValue || '', false);`

I believe that it's refering to editable being undefined. I have jquery 2.1.1 script before angular and angular-froala but I still get this error. Do you have any idea what this might be?

[2014-10-07 03:22] huyaxiong opened #3 "ng-bind-html is not work in v1.2.26 so how can i display it?"
Error: [$sce:unsafe] http://errors.angularjs.org/1.2.26/$sce/unsafe

[2014-10-08 14:37] #3 closed, assigned to nobody

[2014-10-28 14:32] Joker666 opened #4 "Posting to server-side, doesn't get caught in $http interceptor"
The problem is angular uses $http for all server related communication and I can modify the request with $http interceptor if I need to send some Authentication tokens.

But I'm presuming this plugin, as it was ported from jquery is not using $http, thus when making server related calls bypasses the $http interceptor, thus not letting me modify the request header. So JWT auth is practically not wo

[2014-10-28 23:12] #4 closed, assigned to nobody

[2014-10-28 23:57] Joker666 opened #5 "Feature Request - Callback after posting"
http://editor.froala.com/methods#save

This method should return a callback after successful posting or on error.

[2014-10-29 11:06] #5 closed, assigned to nobody

[2014-11-28 03:22] shihalv opened #6 "Unable to type further after adding Table"
After adding a Table, clicking outside the table does not set the cursor focus thus not allowing me to type further.

[2014-12-01 22:46] shihalv opened #7 "Editor in Modal - closing modal throws exception"
I use Angular UI Modal ($modal).
The editor throws exception when modal is closing.  It has something to do with the call to editable('destroy')

[2014-12-02 00:19] #6 closed, assigned to nobody

[2014-12-03 14:15] abhinavguptas opened #8 "Unable to type in Inonic Cordova App"
Editor is showing well, both inline and explicit via toolbar. But I can't type in,  no JS errors thrown as well.

[2014-12-11 22:11] rhonse opened #9 "TypeError: Cannot read property 'destroy' of undefined when removing an element from ng-repeat containing a Froala editor"
See jsfiddle: http://jsfiddle.net/8g6aq30x/1/

I have a collection of objects that's used in an ng-repeat. When the repeated content contains a froala editor and I remove an item from the collection, I get a JS error from angular-froala when it tries to destroy the directive: "TypeError: Cannot read property 'destroy' of undefined".

Was able to reproduce in attached jsfiddle.

[2014-12-12 02:17] #2 closed, assigned to nobody

[2014-12-12 02:20] #9 closed, assigned to cgallarno

[2014-12-30 05:03] schetle opened #10 "Is there a reason "sync" isn't called after setHTML in $render?"
I've had to manually modify angular-froala.js on my end to include this. Is there any particular reason it's not currently being done?

[2014-12-30 18:18] #10 closed, assigned to nobody

[2015-01-23 21:38] igorbarbashin opened #11 "Froala dependency for angular-froala"
Is there a reason why dependency for angular-froala is named FroalaWysiwygEditor?
`"FroalaWysiwygEditor": "1.2.4",`

Do I need to install `froala` as well or just `angular-froala` is enough, while it's downloading same froala under different name?

[2015-01-24 15:38] stefanneculai commented on #11
`froala-angular` is using the bower package `FroalaWysiwygEditor` which contains the JS files and CSS for the Froala editor. You should install `angular-froala` if you want to use the Angular package.

[2015-01-24 15:38] #11 closed

[2015-02-08 00:37] dennisharrison commented on #8
@cgallarno a little more detail here

Editor works fine in Ionic framework on desktop browsers.  Mobile is the problem here.

Android Chrome (latest and beta - as of posting):
Have to press and hold in editor to be able to type text - then it works as intended.

iOS 7.1 & 8.1.3 Safari & Chrome:
Editor will 'focus' as in the event is fired and loggable, keyboard pops up, but no text shows up in the

[2015-02-08 07:54] #8 closed

[2015-03-16 08:07] kotmatpockuh opened #12 "Bootstrap modal and textarea: could not enter any text"
Hello. I have one trouble: when i use this textarea form with bootstrap modal window i could not change any link or text, i mean:

`https://dl.dropboxusercontent.com/u/59666091/Screenshot_1.png`

`https://dl.dropboxusercontent.com/u/59666091/Screenshot_2.png`

how could i fix this?

[2015-03-16 09:01] kotmatpockuh commented on #12
is similar to https://github.com/froala/wysiwyg-editor/issues/131

[2015-03-16 09:13] kotmatpockuh opened #13 "ImageUpload with headers"
https://editor.froala.com/server-integrations/php-image-upload

Hello. Could you please provide information:

how could i send authToken and some other headers in imageUpload code?

[code]

params i see, but how to be with custom headers like authToken etc?

[2015-03-16 10:22] #13 closed

[2015-03-16 10:22] stefanneculai commented on #12
Please make a jsFiddle.

[2015-03-20 13:48] kotmatpockuh commented on #12
fixed with removing tabindex="-1"

[2015-03-20 13:48] #12 closed

[2015-03-24 14:26] kotmatpockuh opened #14 "Append image/link popup to scrollable container"
For example: in config i try to code, that all popup's are attached to `.froala-wrapper.f-basic`, but then i didn't see any popup, even if i try to change z-index etc...

so: i append such code in config:

    editorClass: "my-custom-class",
    scrollableContainer: '.my-custom-class'

and any popup is displayed (case when froala editor is in bootstrap modal with fixed editor height)

you could tr

[2015-03-25 08:26] kotmatpockuh commented on #14
also, could you please update bower?
`"dependencies": {
    "FroalaWysiwygEditor": "1.2.6",
    "angular": "~1.2.22"
  }`

to "FroalaWysiwygEditor": "1.2.7" ?

[2015-03-25 08:46] kotmatpockuh commented on #14
also JFYI: wysiwyg must sanitize { } values to... No symbols { and } stayed in code.

[2015-03-25 08:57] stefanneculai commented on #14
Please open an issue on https://github.com/froala/wysiwyg-editor regarding your first comment.

Regarding your 2nd comment, the version 1.2.7 is not released officially yet. The dependencies will be updated just when the new version is officially released.

@cgallarno could you please advise about the latest comment?

[2015-03-25 08:57] #14 closed

[2015-03-26 14:09] Mr-Anonymous opened #15 "Display Buttons in Editor"
Hi,

This is not an issue but rather a question on how to achieve this. I followed the instructions in your page and in demo page but with the editor, I cannot see the buttons visible at the top of the textarea. The buttons are only visible in a pop-up when I select a text in editor. How can I make the editor buttons to be visible at the top of the textarea simlar to the basic.html sample in Froal

[2015-03-26 14:14] Mr-Anonymous commented on #15
Never mind. Just now when I re-read the instructions I noticed that I can set default settings by passing a config object to angular.value like this:

[code]

Sorry... I should learn to read the instructions properly.

Thank you so much for this awesome module. I am new to Angular and this was extremely useful. :)

[2015-03-26 14:14] #15 closed

[2015-03-26 19:14] Mr-Anonymous opened #16 "Froala Sanitize"
Is froala-sanitize.js the same as angular-sanitize.js ? I mean, if I've already linked my app to angular-sanitize.js, can I safely ignore adding froala-sanitize.js (or) does the editor has some dependency on froala-sanitize.js file only?

[2015-03-26 19:55] cgallarno commented on #16
froala-sanitize.js extends angular-sanitize, so you would use froala-sanitize instead of angular-sanitize.

[2015-04-01 13:06] kotmatpockuh opened #17 "Track deleted images in edit box"
Hello.
I have one trouble and i do not have any ideas how to solve it (i checked up docs as well).

I use delete method to delete files from the server, like:

      afterRemoveImage: function (e, editor, $img) {
         ***
      }

and now i have question: how could i delete images only after i click save button for example?

i try so:

after every image delete do not delete this image, but sto

[2015-04-01 13:12] stefanneculai commented on #17
You could check in the undo/redo events if the image got back in the editor and remove it from your array.

[2015-04-01 13:12] #17 closed

[2015-04-01 13:25] kotmatpockuh commented on #17
Docs provide only html before and html after. You propose to compare this two values?

[2015-04-01 13:30] stefanneculai commented on #17
You could check the content inside the editor and see if it contains any image that is in your array with deleted images.

The purpose of this repo is not offering support. If you have a license that includes support, please contact us via http://editor.froala.com/contact. Thank you.

[2015-04-01 13:49] kotmatpockuh commented on #17
hm, could i somehow on your page test this event?
on my app i see that it is not fired

[2015-04-08 13:58] kotmatpockuh opened #18 "Bootstrap modal: could not copy-paste text in ie10 - 11"
Hello. What i mean you could check here:

http://embed.plnkr.co/0eUe4bXma84BNZwzKebn/preview

(yes, i didn't use angular-ui for some big reasons)

*steps to reproduce:*

go to link http://embed.plnkr.co/0eUe4bXma84BNZwzKebn/preview
enter some text
select some text
copy this text
try to copypaste this text in ie
as result i see new `<br>` tags but no content is copied.

seems that something is not

[2015-04-12 02:15] corporationsruleyourmom opened #19 ""Unlicensed Froala Editor" on local dev machine"
Hey,

I wanted to test out the Froala WYSIWYG editor in my AngularJS v1.3.15 app. I installed via bower and launched my app on the development with a local IP address 192.168.0.X I received the error message "Unlicensed Froala Editor." How can I test this editor to see if it's worth purchasing a license?

Thanks!

[2015-04-12 12:20] cgallarno commented on #19
—
Sent from Mailbox

On Sat, Apr 11, 2015 at 10:15 PM, corporationsruleyourmom
<notifications@github.com> wrote:

[2015-04-12 15:45] stefanneculai commented on #19
The Unlicensed message doesn't limit in any way the editor's functionality.

[2015-04-12 15:45] #19 closed

[2015-04-13 04:04] corporationsruleyourmom commented on #19
Well, let me re-phrase, the editor did not show up only an "Unlicensed Froala Editor" button could be seen... Anyway to fix this? Or is Froala only accessible via localhost and not local ip addresses. Any help would be, well, helpful! Thanks.

[2015-04-22 01:08] TonyWoo opened #20 "change the froalaOptions dynamically"
For below example, when uploading a file I need to pass a orderid to the "upload_file" url, but the orderid may be changed by user dynamically. Will the directive monitor the $scope.froalaOptions changes? If not, how can I do this? Thanks in advance.

function myCtrl($scope){
    $scope.myHtml = "Hello World"
    $scope.froalaOptions = {
        fileUploadURL: '/upload_file?orderid=XXXXXXXX'
    }

[2015-04-22 03:42] cgallarno commented on #20
Hello @TonyWoo,

The directive does have a `$scope.watch` on the options object passed to the directive and since the fileUploadURL is one of the options that be changed after initialization it should update, please reopen if this is not the case for you.

[2015-04-22 03:42] #20 closed

[2015-04-22 03:42] #16 closed

[2015-05-08 13:01] kotmatpockuh commented on #18
still reproducable...
also i didn't see label `bug` here...

[2015-05-08 13:10] #18 closed

[2015-05-08 13:10] kotmatpockuh commented on #18
https://github.com/froala/wysiwyg-editor/issues/555

[2015-05-12 07:41] salttechno opened #21 "When can we expect 'froala events' to be completed?"
Thanks for the great angular plugin. When can I use 'froala events' in angular plugin?

If you are not planning to release it soon, can you please guide me how can I use it?

[2015-05-12 12:05] cgallarno commented on #21
Hey @salttechno,

Events have been supported however I hadn't updated the readme to reflect that, the readme has been updated to include examples on how to use froala's events. Thank You!

[2015-05-12 12:05] #21 closed

[2015-05-12 12:31] salttechno commented on #21
Thanks a lot for such a quick response! :+1:

[2015-05-13 18:28] Pranab16 opened #22 "Unable to write text in froala editor in Protractor tests"
In protractor tests, for normal textarea we can write text using sendKeys function. But for froala editor, it throws error: ``` unknown element: cannot focus element ```

[2015-05-13 19:07] stefanneculai commented on #22
You should probably get the editable element and try on that one. `$(your_selector).data('fa.editable').$element`.

[2015-05-13 19:44] Pranab16 commented on #22
In protractor, jquery functions doesn't work.
It throws error for the mentioned code ``` TypeError: Object [object Object] has no method 'data' ```

[2015-05-18 12:41] manikmi opened #23 "Froala editor issue with Angular"
Hi,

I am using the Froala Editor with Angular on my site. I am getting issue

"Froala requires jQuery, are you loading it before Angular? <textarea id="txtPostEditor" froala="addPost.froalaOptions" ng-model="addPost.welcomeMessage" class="ng-pristine ng-untouched ng-valid ng-isolate-scope""

Did anybody faced this issue? Please help.

Regards,
Manik Mittal

[2015-05-18 12:56] manikmi commented on #23
Even though, I have kept the js file reference in the order

jquery
Froala
Angular
Angular-Froala

[2015-05-25 10:01] ryankc33 opened #24 "Typerror: undefined is not a function"
I've been getting the above error at lines:

78 element.editable('setHTML', ngModel.$viewValue || '', true);

and

81 var froala = element.editable(options).data('fa.editable');

My load order is as follows:

jQuery 1.11.1
angular-froala
froala-sanitize

[2015-05-25 10:08] ryankc33 commented on #24
My mistake, I did not load the FroalawysiwygEditor/js/froala-editor.min.js file.

[2015-05-25 10:08] #24 closed

[2015-05-26 22:38] casche commented on #23
I also get this

[2015-05-27 05:08] canvasmanager commented on #23
How did you do that? Can you share some sample code?

[2015-05-27 05:09] manikmi commented on #23
How did you do that? Can you share some sample code?

[2015-05-29 00:44] casche commented on #23
sorry @manikmi I tried that again and it didn't work. I'm doing some debugging and it looks like the problem is not only applicable to angular-froala but froala in general. At least when using in conjunction with angular.

[code]
When that line executes it doesn't seem like Froala is loaded as $('#edit') exists but $('#edit').editable is undefined.

Still investigating...

[2015-05-29 01:47] casche commented on #23
@manikmi Are you using mail chimp by any chance? I found my issue, see here http://stackoverflow.com/questions/24599084/mailchimps-mcj-jquery-noconflicttrue-causing-conflict

The line

[code]

caused some nastiness.

[2015-05-29 04:50] manikmi commented on #23
Hi Chris,

I got pass my issue. I was using a js from saavn.com, which I removed. It
worked for me.

Thanks a lot for helping,
Manik Mittal

On Fri, May 29, 2015 at 7:17 AM, Chris Asche <notifications@github.com>
wrote:

--
Regards,
Manik Mittal

[2015-06-09 20:26] harshalkumar opened #25 "Regarding inline mode"
Hi,

I am using froala with angularjs. Some of the fields on my page require the inline mode to be set as false which I am doing by following code.
.value('froalaConfig', {
    inlineMode: false,
    placeholder: 'Enter Text Here'
  });
Apart from this, on the same page I do need inline mode to be set as true for other field. Can you please guide me how can I do that ?

[2015-06-09 20:32] stefanneculai commented on #25
You are setting the defaults that way. Please read **From Controller** from https://github.com/froala/angular-froala#options for setting the options from controller.

[2015-06-09 20:32] #25 closed

[2015-06-09 20:42] cgallarno commented on #25
@harshalkumar also note: that when you set options in the controller it will also inherit the options set during config, so all you need to so the set inline Mode to false for those editors and it will still use all the existing config options.

[2015-06-10 17:44] chriswong929 opened #26 "Angular 1.3"
I was just wondering if and when you plan to move to Angular ~1.3

Currently, angular-froala is using angular ~1.2.22 but from my experiences, all the features work fine on angular 1.3.

Thanks

[2015-06-29 08:01] #23 closed

[2015-06-29 08:02] stefanneculai commented on #7
I'm closing this due to lack of response.

[2015-06-29 08:02] #7 closed

[2015-06-29 23:46] harshalkumar opened #28 "Full Screen button is not being available"
I have tried to customize the toolbar .. everything is working fine but fullscreen option is not being available to me. I am adding "fullscreen" in buttons.

buttons: ["bold", "italic", "underline", "subscript", "superscript", "fullscreen"],

[2015-06-30 08:07] stefanneculai commented on #28
You are not including the fullscreen plugin most probably.

[2015-06-30 08:07] #28 closed

[2015-07-22 07:33] aci227 opened #29 "Is angular-froala not support event afterImageUpload?"
i am using qiniu as my images upload server,because it return image url param name is "key" and not "link",so  i must handle the upload response by myself,but it didn't trig after image upload event,can there anyone help me,please? thank u very much!

[2015-07-24 15:07] kadosh1000 opened #30 "getting element.editable is not a function"
hi I am getting the error: "element.editable is not a function",
what may cause that? i do include the froala-editor js file

[2015-07-29 09:31] zunairzubair opened #31 "Can't seem to render video link."
Hi,
I am currently using froala in test application.
I render my html using ui-bootstrap popover. But it is not rendering the videos i am attaching using links. Pictures and other stuff works fine though.
Am I missing anything? Or is there any problem?
Thanks.

[2015-07-30 07:55] #31 closed

[2015-07-31 15:17] zunairzubair commented on #31
Found the issue. The angular-sanitize.js and froala-sanitize.js blocks the <iframe> tag, You have to place this iframe tag in the list of unblocked items.

[2015-08-03 16:48] yudaprama opened #33 "React support would be great"
React support would be great

[2015-08-06 18:33] shebbys opened #34 "Get Scope Model from Froala Focus Callback"
I have multiple Froala editors on the screen at once and am trying to control them independantly through their associated models.  Problem is that the focus callback and button callbacks pass (e,editor) which doesn't give me model information.. I tried to override the callback with something like this (I was desperate)

div(ng-repeat="template in templates")
	textarea(id="editor_{{$index}}",froala

[2015-08-06 19:49] cgallarno commented on #34
I'm curious. With the editor object that is passed back through the focus and button callbacks, could you get the ID of the editor (which is being set at the index of the template in templates) therefore parse the index from the id and get "1" from `#editor_1`, then get your model as `templates[1].value`?

[2015-08-06 20:05] shebbys commented on #34
@cgallarno Doh - Of course!!  That approach works perfectly!

var ide = $(e.target).attr('id').split("_")[1];
var focus_on = $scope.templates[ide];

Thanks :)

[2015-08-06 20:05] #34 closed

[2015-08-07 15:14] hiperlouro opened #35 "When initializing angular-froala with value associated to the model the undo button is active"
I have the following code:

[code]

[code]

And when the page loads, the froala editor displays the undo button enabled.

If I press the undo button it clears the text.
Is it possible to change it to disable the undo button upon initialization? Or is this a bug?

Thanks.

[2015-08-07 15:38] cgallarno commented on #35
@hiperlouro this is a side effect because of the way the html was set on initiation, this commit (fa0143fd0a1c3882fe45d897b5d14ce8ac80acf5) resolves this issue.

[2015-08-07 15:38] #35 closed

[2015-08-07 15:42] cgallarno commented on #33
Please submit feature requests directly to Froala, https://www.froala.com/wysiwyg-editor/contact

Thanks!

[2015-08-07 15:42] #33 closed

[2015-08-07 15:43] cgallarno commented on #30
@kadosh1000 can you reproduce this in the demo file of the project? if so what steps did you take to get to this?

[2015-08-07 15:52] hiperlouro commented on #35
Thanks for the quick fix! :+1:

[2015-08-07 15:56] cgallarno commented on #29
@aci227 All the FroalaWysiwygEditor events need to be added to angular-froala manually so that the directive will know to listen for them. This commt (caaefed941f748fdb3cb06031858ae162b417450) should resolve the issue for you.

[2015-08-07 15:56] #29 closed

[2015-08-10 13:37] daslicht commented on #26
How about AngularJS 1.4.3 ?

[2015-08-11 06:57] RonnieSan commented on #30
I'm getting the same thing.  Followed the directions exactly and get an 'element.editable is not a function' error in my console.

[2015-08-11 15:08] maximilianschmid opened #36 "Documentation - missing closing Tag in https://github.com/froala/angular-froala/blob/master/README.md"
https://github.com/froala/angular-froala/blob/master/README.md

<textarea froala ng-model="myHtml"><textarea>
should be
<textarea froala ng-model="myHtml"></textarea>

The non closing textarea tag causes rendering issues with angularJS.

[2015-08-11 15:25] cgallarno commented on #36
Thank you, I have updated the readme

[2015-08-11 15:25] #36 closed

[2015-08-13 14:05] zunairzubair opened #37 "Working with file_upload.js"
Hey,
I want to upload files to a different server. Is there a way to achieve that?

Thanks.

[2015-08-17 01:31] julian-iFactory commented on #26
How about Angular 1.4.4 ?

[2015-08-17 08:27] daslicht commented on #26
Thats why I exactly don't like Angular or other technologies with hard dependencies .
Just use Summernote which is free compared to Froala ...

[2015-08-25 14:05] andreyluiz opened #38 "Getting Unlicensed Froala Editor"
Hi guys.

When I try to use the angular-froala, I get the following message in my textarea.

![](http://i.imgur.com/jIQ8e8b.png)

I got in touch with the Froala developers asking for a trial of the product. The answer was that it is just to download the editor from the site (there's a bower version, but I'm not sure if it is the same of the site) and use it. It is true because the examples in the

[2015-08-25 14:11] stefanneculai commented on #38
There is no issue. When using the editor without a license you won't see the message on localhost or when you simply open the file.

[2015-08-25 14:11] #38 closed

[2015-08-25 14:19] andreyluiz commented on #38
Ah, okay! I got it. Thank you.

[2015-08-31 11:09] kotmatpockuh opened #39 "Support of WYSIWYG v2.0"
Hi. How to support 2.0 version?

I mean, for example before we have in controller:

[code]

now such code didn't work

[code]

even if i loose '' symbols (
[code]
)

how to run this up?

[2015-08-31 11:16] stefanneculai commented on #39
The framework plugins are not yet update. We're doing that during this week and the Angular plugin is second on the list (https://www.froala.com/blog/hello-froala-editor-v2).

[2015-08-31 11:16] #39 closed

[2015-09-03 17:01] eddcvjm opened #40 "ng-bind-html sanitizes formated text like font size, family and alignments"
The following issue was found with the following versions:
 - SO: Windows 8.1
 - Browser: IE11 and also tested on Chrome
 - Froala: 1.2.8 and also tested on 2.x

We have the following text produced through the editor:

![image](https://cloud.githubusercontent.com/assets/13676411/9664690/6c9315f8-5263-11e5-87fa-9c53415b467d.png)

The resulting html is the following one:

![image](https://cloud.gith

[2015-09-03 17:16] cgallarno commented on #40
@eddcvjm Are you including angular-sanitize? angular-sanitize will remove the inline style tags and needs to be replaced by froala-sanitize which should maintain the styles.

[2015-09-03 19:07] eddcvjm commented on #40
Hi,
I have the following code in my index.html and app.js
As you can see I have the code in my index.html

<script src="https://code.angularjs.org/1.2.5/angular.min.js"></script>

<script src="../src/froala-sanitize.js"></script>
<script src="../src/angular-froala.js"></script>

So, I'm assuming that I'm using the froala-sanitize.

But as you can see in my app.js, if I set $scope.myHtml without
$s

[2015-09-04 09:02] kotmatpockuh commented on #39
So...

how to use events with dot in name? `file.error`
thank you

[2015-09-04 12:33] cgallarno commented on #39
Use quotes around the event name like so:

[code]

[2015-09-07 04:36] manikmi opened #41 "Angular Froala at runtime"
Hi,

Is there a way to generate the Angular Froala Editor at runtime. I have a directive inside whichi want to generate the Froala Editor at the click of a button. I dont want to have the HTML in place before the button click. It is like clicking on the Edit button and the existing html converts to Froala Editor for editing.
Thanks in advance,
Manik Mittal

[2015-09-07 04:55] cgallarno commented on #41
Hey @manikmi,

Is there a reason for not wanting the editor html in place? I acheive a similar effect where I have a block of html that displays the content and another block of html that contains the editor, and I toggle the visibility of each block using ng-if.

[2015-09-07 05:08] manikmi commented on #41
I require Editor as part of my directive, which is running inside a loop of many items loaded on the screen. If we have HTML in place in the directive, then for all the items, the html will be loaded and unnecessarily will load the page. what I want is to have a button in my directive, which when clicked for the specific item, the Froala Editor gets loaded up only for that item and on close, destr

[2015-09-07 05:24] cgallarno commented on #41
Have you tried froala's 'initOnClick' option? https://www.froala.com/wysiwyg-editor/docs/options#initOnClick

[2015-09-07 05:55] manikmi commented on #41
Thank you Cameron for response,

I tried this option, but I got error for "editable function not found". May be some thing I am missing. Is it the scope that needs to corrected.

P.S. I am trying to initiate new Froala Editor inside of my directive at runtime.

Truly appreciate your help.

[2015-09-07 06:16] manikmi commented on #41
I want to do something like https://www.froala.com/wysiwyg-editor/docs/examples/destroy-init
in my directive.

[2015-09-07 06:27] manikmi commented on #41
Actually it worked for me now.Thanks a lot for help.

[2015-09-07 12:01] #41 closed

[2015-09-10 05:08] TNT-Likely opened #42 "how can i set upload image name?"
i want to set imagename ，how can i reslove it ?
thanks

[2015-09-21 11:57] kotmatpockuh opened #43 "All http methods are not intercepted by interceptor"
It's a really huge architecture bug. Angular lib (as you named it) is working not in angular way:

for example $http for image upload is not intercepted.

Thank you for your time.

[2015-09-21 12:05] stefanneculai commented on #43
Same with #4 .

[2015-09-21 12:08] kotmatpockuh commented on #43
NO @stefanneculai it's not the same!
#4 allow's to set custom header's, but it doesn't have anything with angular interceptor (which can caught 401 and make recall with refresh token to get new token, and repost this query)
your solution only set custom header, that what  #4  do.

[2015-09-21 12:16] stefanneculai commented on #43
@cgallarno any thoughts about this one?

[2015-09-21 13:51] cgallarno commented on #43
@kotmatpockuh Correct, angular can not intercept the http requests made from froala. 'anuglar-froala' is a simple directive wrapping the functionality of froala's WYSIWYG editor which is built in jQuery. If you need angular in control of the http requests, simply handle the upload with angular in the `beforeImageUpload` and return false out of that function so that froala won't attempt an upload.

[2015-09-21 13:57] kotmatpockuh commented on #43
@cgallarno yes...
i can return false... but maybe you have ideas, how to (for example) set waiter for example for 3sec (until new token received) and then only run froala upload?

[2015-09-21 13:59] kotmatpockuh commented on #43
if i will return false, then only upload modal is hidden

[2015-09-21 14:02] cgallarno commented on #43
@kotmatpockuh So when you return false, froala still uploads the image? @stefanneculai is there a way that you can cancel the http request, then run an asynchronous function to determine if the image is allowed to be uploaded (in angular) and if so, manually re-trigger/resume the upload?

[2015-09-21 14:06] kotmatpockuh commented on #43
@cgallarno no - it didn't, but it close the upload popup - and user didn't know, what happens even (nothing)

[2015-09-21 14:07] kotmatpockuh commented on #43
all i need - only method-callback-event for uploading, like beforeImageUpload - there i will check: my token is valid, then run upload - no, than no

[2015-09-21 14:44] cgallarno commented on #43
In my implementation we handle the image upload ourselves, here is the gist of our code in `beforeImageUpload`

[code]

[2015-09-21 16:38] stefanneculai commented on #43
The method used by @cgallarno is the way to go.

[2015-09-21 16:38] #43 closed

[2015-09-21 23:32] kotmatpockuh commented on #43
@cgallarno it's strange... but with your gist loader popup is not displayed, only if i set debugger breakpoint it appear O_o

[2015-09-21 23:37] cgallarno commented on #43
try wrapping it in an empty setTimeout, like so:

[code]

Also to note, I'm using this with V1 of the editor.

[2015-09-21 23:44] kotmatpockuh commented on #43
yes, i unterstand (about v1)
unfortunatelly timeout didn't solve it...
but thank you)
maybe you have some ideas, how to use loader with $http?
like get percentage:
[code]

[2015-09-22 11:07] kotmatpockuh commented on #43
@cgallarno
i understood: '.froala-image-popup' is hidding all time when i click somewhere else, while image is loading (when using default code, loading popup isn't hiding never, while image is uploading)

trying to figure out, what is "wrong"

[2015-09-22 14:11] cgallarno commented on #43
For me, while an image is uploading when I click outside the popup does disappear but so does the progress bar, when I click on the image icons the pop up appears with the current progress of the upload. I see no problem here. It that's what's happening for you?

[2015-09-22 14:39] kotmatpockuh commented on #43
@cgallarno yes, i see the same behavior
but as for me, it's unclear, when progress bar popup is closed, while loading image...

[2015-09-22 15:53] cgallarno commented on #43
Do you desire to keep the image popup visible while the image is still uploading, so that clicking outside of it will *not* hide it? @stefanneculai Do you know how to achieve this?

[2015-09-22 19:23] kotmatpockuh commented on #43
@cgallarno yep... i mean directly that...

btw, seems that i solved it in simple way:
[code]

[2015-10-17 18:06] Myrmex opened #44 "Adding custom dropdown (with repro)"
Hi, I'm trying to use your code to work with the froala editor using a custom dropdown. Anyway, I'm not sure about how to integrate the code adding the dropdown into the Angular scenario: given that I can retrieve a reference to the editor instance from the options set in my controller (`$scope.froalaOptions=...`), I should first set these options, then define and register the dropdown using the e

[2015-10-19 20:25] stefanneculai commented on #44
Hi @cgallarno! Could you please give us a hint on this for the V2 way of creating custom buttons? https://www.froala.com/wysiwyg-editor/v2.0/docs/examples/custom-buttons

[2015-10-19 20:27] stefanneculai commented on #42
For tech support please contact us via our website. Thank you.

[2015-10-19 20:27] #42 closed

[2015-10-19 20:27] stefanneculai commented on #37
Please contact us via our website for tech support. Thank you.

[2015-10-19 20:27] #37 closed

[2015-10-19 20:28] stefanneculai commented on #30
Thanks @RonnieSan for letting us know the solution that worked for you.

[2015-10-19 20:28] #30 closed

[2015-10-20 19:45] cgallarno commented on #44
Hello @Myrmex, The `$scope.froalaOptions.froalaEditor` is only populated after the editor has initialized and is designed to be used to send events to the editor. To Register custom buttons and dropdowns you still need to run those commands on the global $.FroalaEditor object before setting your options for the editor. I've update the plnkr to reflect this.

http://plnkr.co/edit/HkWCugpVv6jT3tsgEY

[2015-10-20 19:45] #44 closed

[2015-10-20 21:14] stefanneculai commented on #44
@Myrmex @cgallarno once a button is defined, it should also be included in the `toolbarButtons` when initializing the editor.

[2015-10-21 05:53] Myrmex commented on #44
Thank you both, this is great. One more issue, unless I've minunderstood something in your replies: if you look at the Plunker example, you will see that no buttons or dropdowns appear except for `bold`, `italic`, `undo`, and `redo`. Only when I enlarge the windows beyond 1200px the other buttons appear, even if there is plenty of free space. Now this would be a problem, as I'm going to use the ed

[2015-10-21 14:01] cgallarno commented on #44
@Myrmex the toolbarButtons array lists all the buttons that should appear in the toolbar, in version 2 of the editor these buttons will appear when the width of the editor >= 1200. Take a look at toolbarButtonsMD and toolbarButtonsSM to get the buttons to appear in areas with smaller widths. https://www.froala.com/wysiwyg-editor/v2.0/docs/options#toolbarButtonsMD

[2015-10-21 14:04] cgallarno commented on #26
I've removed the hard requirement on angular and implemented @julian-iFactory's fix for sanitize in the `editorV.2` branch.

[2015-10-21 14:04] #26 closed

[2015-10-21 14:17] cgallarno commented on #22
@Pranab16 froala doesn't use a textarea, it uses content editable so all you should need to do it target the content editable element and then you should be able to sendKeys to it. You should be able to select it by `#froala-0 .froala-element`. `froala-0` is an auto-generated id, you can set the id to whatever you want by putting the id on the element with the directive.

[2015-10-21 14:33] stefanneculai commented on #22
The best way to get the editable element is:
- v1: `$(selector).data('fa.editable').$element`
- v2: `$(selector).data('froala.editor').$el`

[2015-10-21 14:33] #22 closed

[2015-10-22 08:52] Myrmex commented on #44
Thank you again, my fault, I had not noticed these new properties in the V2 docs...

[2015-10-23 08:22] lait1989 opened #45 "How to remove image from server after upload it in editor?"
Hi, i try to remove image from server after it uploaded in editor. I use imageDeleteUrl but i have no effect. I need help.

[2015-10-23 08:31] PRR24 opened #46 "Sanitizer can't handle escaped quotes"
Sanitizer fails parsing
(div style="font-family: \"Arial\"") (/div)
(replaced html tags with () to suit better with github message)

[2015-10-23 08:50] PRR24 commented on #46
On the other hand, this is probably not correct html syntax, so please ignore. sorry.

[2015-10-23 08:50] #46 closed

[2015-10-23 09:10] DeanWilliamMills opened #47 "Object doesn't support property or method 'editable'"
Hi.

I get the following error:

Object doesn't support property or method 'editable'
at link (../angular-froala.js:82:5)

it is this line "var froala = element.editable(options).data('fa.editable');"

I appreciate your help. Thank you

[2015-10-23 12:14] stefanneculai commented on #45
Please see: https://www.froala.com/wysiwyg-editor/docs/concepts/delete-image.

[2015-10-23 12:14] #45 closed

[2015-10-23 12:39] lait1989 commented on #45
Ok, thanks! I made it earlier.

[2015-10-24 09:06] longxianlin opened #48 "my click not working"
add textarea by click. not working

[code]

[2015-10-26 14:30] cgallarno commented on #48
@longxianlin That is because you're using jQuery to add the html and angular is 'unaware' of the changes to the dom. You will need to add the new html with angular's $compileProvider so that it is interpreted with AngularJS. https://docs.angularjs.org/api/ng/service/$compile

[2015-10-26 14:30] #48 closed

[2015-10-26 14:47] cgallarno commented on #47
I think you are trying to use version two of the editor with version one of the angular adapter. If you are using 2.0 of the wysiwyg editor be sure to use the editorV.2 branch on this project.

[2015-10-28 21:36] harshalkumar opened #49 "Froala sanitizer is wiping out the float property"
I am trying to upload the image with image title. But sometimes froala is wiping out the image title and float property of the image while normalization or sanitization process. This is happening very frequently. Any help will be really appreciated.

[2015-10-30 14:09] warpdesign opened #50 "use strict in global scope may break when concatenated"
It seems that the main file angular-froala.js has a use strict defined at the begining of the file:

    use strict;
    // code starts here

So if this file is concatenated with other files, it may break since it will apply use strict; to everything that is concatenated.

I would suggest wrapping code inside a closure (that's what mostly every projects do):

    (function() {
       use strict;

[2015-10-30 20:17] cgallarno commented on #50
@warpdesign Where are you seeing this? "use strict"; is inside the angular-froala directive

[2015-10-30 20:18] cgallarno commented on #47
@DeanWilliamMills Did you get your problem solved or is this still open?

[2015-10-31 09:28] warpdesign commented on #50
@cgallarno The tagged release 1.2.8 (https://github.com/froala/angular-froala/archive/1.2.8.zip) which is the version that gets installed through bower contains a version of the directive with the "use strict" outside of the directive.

Current Git version doesn't have the version indeed.

[2015-10-31 09:38] warpdesign commented on #50
The bug seems to have been fixed in 2.0rc: a possible workaround is to force the "v2.0.0-rc.3" version in bower.json when adding angular-froala as a dependency.

[2015-11-05 04:42] j-hogue commented on #40
I am seeing the same issue, any progress?

[2015-11-05 12:29] rickerd commented on #2
Hi, i'm also finding troubles with this thing.
I cannot get the editor to work since i switched to the new repository for the v2.* rc3

Here's my bower and grunt file.
"dependencies": {
    "angular": "angularjs#~1.4.7",
    "angular-bootstrap": "~0.13.0",
    "bootstrap": "~3.3.5",
    "grunt": "~0.4.5",
    "jquery": "~2.1.4",
    "font-awesome": "fontawesome#~4.4.0",
    "FroalaWysiwygEditor":

[2015-11-05 14:40] cgallarno commented on #2
@rickerd It appears that you're not using the editorV.2 branch of angular-frola which is needed for froala 2.0.

Try changing value of `angular-froala` *from* "~1.2.8" *to* `https://github.com/froala/angular-froala#editorV.2` in your dependencies list.

[2015-11-05 14:46] cgallarno commented on #40
@j-hogue can you submit a pull request?

[2015-11-05 14:46] #47 closed

[2015-11-05 15:57] rickerd commented on #2
Got it working,
Sorry for the stupidity

---

Met vriendelijke groet,
Rick de Graaff

Verstuurd vanaf mijn iPhone 6

[2015-11-05 15:58] cgallarno commented on #2
No Worries, if you feel the documentation could be more clear feel free to submit a pull request.

[2015-11-12 15:22] felixroos opened #51 "image upload with Authorization header"
Hello!
First of all: Thank you for this grandiose WYSIWYG editor! I am currently evaluating it and consider using it for our new product. Everything is perfect for now except one thing: image upload.
My goal is to upload images from froala to our server.
At first, I followed the [image upload concept](https://www.froala.com/wysiwyg-editor/docs/concepts/image-upload) but it lacks a possiblity to se

[2015-11-12 15:28] stefanneculai commented on #51
Would it be possible to make a JS fiddle for it?

[2015-11-12 15:40] felixroos commented on #51
[http://jsfiddle.net/8g6aq30x/6/](This fiddle) shows the insertImage function. As I understand it, the method should insert the image with the specified URL into the editor, but what happens is that the overlay opens, the URL is ignored.

[2015-11-12 15:42] stefanneculai commented on #51
It looks you're using the older version V1.2. The method is called writeImage: http://jsfiddle.net/0k8bx312/.

For V2 please see: https://github.com/froala/angular-froala/tree/editorV.2.

[2015-11-12 15:42] #51 closed

[2015-11-12 15:56] felixroos commented on #51
Ahh okay I did not know of the writeImage method (already got the new version). It is still missing on the [Methods Page](https://www.froala.com/wysiwyg-editor/docs/methods) (where I got my info). Thank you for the hyper fast feedback!! Now my workaround is working around :)

[2015-11-17 15:22] stefanneculai commented on #50
@warpdesign it's updated to V2.0.1 now.

[2015-11-17 15:22] #50 closed

[2015-11-17 15:29] warpdesign commented on #50
@stefanneculai ok, thanks!

[2015-11-24 22:03] mehowp opened #52 "Multi-lang support"
This module does not allow to implement different language while using RequireJS.

[2015-11-25 16:31] mehowp commented on #52
Here's another problem with fraola plugins:
http://stackoverflow.com/questions/33919735/uncaught-referenceerror-module-is-not-defined-requirejs/33920006?noredirect=1#comment55603059_33920006

[2015-11-25 17:39] noyg commented on #31
@zunairzubair how did you manage to add this? did you modify the code of froala-sanitize.js ?

[2015-11-26 09:35] mehowp commented on #52
Your "bower install angular-froala" installs also "froala-wysiwyg-editor" bad have bad source of plugins code, please replace them with [correct one](https://github.com/froala/wysiwyg-editor) .

[2015-11-26 09:38] stefanneculai commented on #52
@mehowp that will be done on release of v2.0.2.

[2015-11-26 19:17] EvilJohnny commented on #52
I would also like to see the mutilanguage support!

I thought it would be just adding the ```language``` option in the options passed.. but just tested and it doesn't work :sweat_smile:

Any estimated time for the 2.0.2 release, @stefanneculai ? :smiley:

[2015-11-26 19:18] stefanneculai commented on #52
@EvilJohnny we don't have an ETA yet.

[2015-11-29 14:56] renege opened #53 "CreateLink not working?"
How to make CreateLink work? Now I can't add links...

[2015-11-29 15:18] renege commented on #53
@stefanneculai why is naming different in angular?

[2015-11-29 15:22] stefanneculai commented on #53
Could you provide more details?

[2015-11-29 16:14] renege commented on #53
I have the code below, but "createLink" isn't appearing.
[code]
[code]

[2015-11-29 16:15] stefanneculai commented on #53
In V2 the buttons name was changed. See: https://www.froala.com/wysiwyg-editor/docs/options#toolbarButtons.

[2015-11-29 16:15] #53 closed

[2015-12-01 01:38] ericleethrinacia opened #54 "Favicon, Refresh button, mouse indicator flashes when initilized"
I have installed the latest angular-froala and latest froala editor on our site that runs Angularjs 1.3.15

I've noticed that every time a user visits a page that contains angular-froala, the favicon, refresh button, and mouse indicator flashes between state of ready and loading very fast for short time
It become very obvious if there are more instances of editors in one page

Do you have any sugg

[2015-12-01 14:42] cgallarno commented on #54
Hey @ericleethrinacia I belive this is the same issue as https://github.com/froala/wysiwyg-editor/issues/817, which appears to be a chrome bug with iframes. However this only happens when the entities plugin is included. Do not include the entities froala plugin and see if the problem still persists.

[2015-12-01 14:44] stefanneculai commented on #54
@cgallarno no, it's not the same. It is caused by https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L46. I believe we should add an option to `html.set` method to prevent cleaning the html for such cases. We're working on this issue.

[2015-12-01 16:28] beyondcreed commented on #54
@stefanneculai great to hear you are working on this, this has now became critical for us to resolve as froala editor is already in the production and we cannot have customers seeing this. so the sooner you can resolve it the better. thank you.

[2015-12-01 17:17] ericleethrinacia opened #55 "Editor buffers the texts input"
I've already addressed this in email but just want to leave it here for a record

The editor seems to buffer when the user types. By buffer I mean if one types just a bit faster, the editor slowly shows the characters that are just typed even you have done typing
I commented out keyup and contentChanged event in _init function at line 7191 to prevent this from happening but I was told that it woul

[2015-12-01 17:18] stefanneculai commented on #55
@cgallarno I believe this is related to https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L53. Any thoughts?

[2015-12-01 17:33] stefanneculai commented on #54
@cgallarno you are right, the issue is indeed the entities plugin. We're working to see maybe we can find a workaround.

[2015-12-01 18:09] ericleethrinacia commented on #55
@stefanneculai Sorry, I forgot to mention, I currently commented out that line as well since I found it was in a way duplicating what the contentChanged event just below is doing. But the speed is still not great so I commented out the bulkrefresh in keyup and contentChanged event.

Also, advise me if I need to start new issue for this and where. The editor seems to save last step every 500 ms. It

[2015-12-01 18:45] ericleethrinacia commented on #54
@stefanneculai I commented out entities.min.js but it still does flashing on Chrome 46, FireFox 42 on Ubuntu 13.10. It sometimes happens in Mac but it's really obvious on Windows

[2015-12-02 14:02] #54 closed

[2015-12-02 14:02] stefanneculai commented on #54
@ericleethrinacia The problem should be fixed on the master repo `froala/wysiwyg-editor`.

[2015-12-03 16:25] ericleethrinacia opened #56 "In code view, ngModel is not updated"
I tried saving the data that the <textarea froala ng-model="data"> is bound to via ng-model but data is not updated when switched to code view. Triggering contentUpdated event doesn't seem to work as I notice in text view, the editor generates the HTML in a <div> but in code view it's they are texts in a textarea.
Would that be why?
Is there anyway around this besides switching back to text view w

[2015-12-03 16:30] #56 closed

[2015-12-03 16:41] stefanneculai commented on #56
With the latest master of the editor the contentChanged event should be triggered before form submit and the editor shouldn't toggle back to the text view. Could you please try it and let me know if it fixes the problem?

[2015-12-03 16:56] ericleethrinacia commented on #56
Oh but I am just simply retrieving the "data" that is bound to the froala editor via ng-model by $scope.data
Is there a way just for this to update ngModel? Or what's triggering the contentChanged event in code view so I can make little adjustment

[2015-12-03 17:13] stefanneculai commented on #56
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L57 should do that.

[2015-12-03 17:24] ericleethrinacia commented on #56
It does in text view but not in code view when I have a button that has ngClick to run a function that saves the content in the editor along with other stuffs
Right now I'm calling
$rootScope.froalaOptions.froalaEditor("codeView.toggle");
twice so it updates and and stay in same view. But in some cases the second call doesn't toggle and undo button stays lit up

[2015-12-03 17:27] stefanneculai commented on #56
With the [latest master version](https://github.com/froala/wysiwyg-editor) that is no longer necessary.

[2015-12-03 17:52] ericleethrinacia commented on #56
Can you please go to origin.thrinacia.com and navigate to admin/pages/edit blog posts
Edit in code view and refresh to see if it actually saves please

[2015-12-03 18:11] stefanneculai commented on #56
When using the code view, the contentChanged event is triggered only in 2 cases: switch to text view or submit the form.

[2015-12-03 19:18] ericleethrinacia commented on #56
Thank you
I made it work by manually calling the form.submit event

[2015-12-03 22:18] danielgranat commented on #44
@cgallarno I am trying to find an alternative solution to accessing the editor, because i am concerned with race condition between the editor creation and setting froalaOptions.
I managed to get the following to work, but wanted to get your feedback on how valid/invalid this is:

[code]

[2015-12-03 23:24] cgallarno commented on #44
@danielgranat Have you experienced a race condition where your options were not set when the editor initialized? To answer your question, there shouldn't be a problem with that however you should unwatch the editor after you re-initialized.

[2015-12-06 09:34] danielgranat commented on #44
@cgallarno I initially tried to go the way i mentioned here, so i haven't experienced it yet. I guess i can configure the editor during angular config, and then each editor instance can create it's own toolbar. Come to thinking about it now i think i was confused with the life cycle of configuring each editor instance and the global editor as well, but i don't think i have any race condition i nee

[2015-12-07 16:31] stefanneculai commented on #55
This has been fixed by https://github.com/froala/wysiwyg-editor/commit/79c8949788ef9244923bd3d053073ef7a5aacdbd.

[2015-12-07 16:31] #55 closed

[2015-12-07 16:32] stefanneculai commented on #52
Updated to v2.0.2.

[2015-12-07 16:32] #52 closed

[2015-12-07 17:13] yanivlllev opened #57 "toolbarStickyOffset on different screen width"
can the "toolbarStickyOffset" option get a function that returns a number for the offset?
is it possible to have different offset for different view breakpoints?

[2015-12-07 17:15] stefanneculai commented on #57
No. This option has to be initially and it cannot be changed after initialization.

[2015-12-07 17:15] #57 closed

[2015-12-09 11:03] EvilJohnny commented on #52
Weeee! Thanks!

(I just realized that @mehowp said "using Require JS"... I am not using it, so maybe this was already working before for me and I had some coding error :sweat_smile: )

[2015-12-14 13:22] zunairzubair commented on #31
@noyg yes. Just modify the blockElements variable and add the html tag you want.

[2015-12-17 17:55] yanivlllev opened #58 "editInPopup and Placeholder"
Does the editInPopup has a placeholder option?
right now i have several Froalas, all are fine with placeholders, but when i config one of them to be type "editInPopup", it doesn't have a placeholder anymore, and if i delete the text, i can't re-edit it, it's like it disappeared even that the element is still in the DOM.

any ideas why?

[2015-12-22 02:49] GregJF opened #59 "TypeError: Object doesn't support property or method 'froalaEditor'"
This error is throw in by "angular-froala.js" at line 36, which is:
       ctrl.froalaEditor = element.froalaEditor(ctrl.options).data('froala.editor').$el;

So how do I setup froala text editor in Angular to stop this error occurring.

[2015-12-22 10:29] naneri opened #60 "Froala validate required field"
When I am setting "required" attribute on Froala textarea - it still  allows me to pass blank spaces as an input (which is for example not allowed in TEXT inputs). How can I prevent this and achieve the same behavior as with casual TEXT inputs?

[2015-12-23 15:43] cgallarno commented on #59
Are you using Froala WYSIWYG Editor Version 2?

[2015-12-23 17:12] cgallarno commented on #60
@naneri the `required` attributed is now acknowledged with this commit https://github.com/froala/angular-froala/commit/4f0822d313adc9e6a5a53644ead7899734b64b99

[2015-12-23 17:12] #60 closed

[2015-12-23 18:44] cgallarno commented on #58
@yanivlllev I think that the element is still there, but there is no text in it so it may have 0 width or height if it's an inline element. As for the placeholder, @stefanneculai Does the `editInPopup` option support the `placeholderText` option? here's a possible workaround to have a default value if your model is empty.

[code]

[2015-12-23 19:11] #58 closed

[2015-12-23 19:11] stefanneculai commented on #58
With the last commit, when there is no text entered, the `placeholderText` option will be used.

[2015-12-23 19:34] naneri commented on #60
@cgallarno thanks for the update. When will that update get to bower?

[2015-12-23 19:43] cgallarno commented on #60
@naneri angular-froala's tags sync up with froala's tagged updates. @stefanneculai are there any tagged updated planned in the near term?

[2015-12-24 09:10] naneri commented on #60
@cgallarno ok, thanks for the info. I will be waiting for the update.

[2015-12-27 10:32] e-cloud opened #61 "npm package needs update"
npm package needs update

[2015-12-27 10:35] stefanneculai commented on #61
Could you please detail?

[2015-12-27 10:45] e-cloud commented on #61
sorry, i mean that it need to be updated the release version on npm
on npm now is 2.0.1, the latest of the repo is 2.0.5

[2016-01-03 23:29] PedroEsperanca opened #62 "is there a way to set the sanitizer to allow specific directives ?"
I would like to allow directives such as ng-click and even some specific custom directives to be used in the froala editor.

[2016-01-05 14:23] cgallarno commented on #62
Hello PedroEsperanca,

We do the same thing in our project and in order to do this we created our own branch of angular-froala and edited the froala-sanitize. On lines 196, and 201 two objects are defined with what's considered an 'allowed' element.

We created a new object with our custom elements and added that to the list of `validElements`.

you can see how we changed `froala-sanitize` here: h

[2016-01-05 14:23] #62 closed

[2016-01-07 11:45] pietrovismara commented on #13
+1 Is it possible? I can't find any explanation about it.

[2016-01-07 19:46] jester12345 opened #63 "TypeError: Cannot read property 'parseHTML' of undefined"
I'm trying to implement the Froala editor inside another directive, so I may be adding an unexpected layer of abstraction. But, $isEmpty in the Froala directive doesn't seem to take into account the possibility that the value passed in could be undefined.

[2016-01-07 20:01] jester12345 commented on #63
Hmm... I was using master. When I switched to EditorV.2 branch, the issue went away. So, maybe I tripped over a work in progress. Sorry if I am reporting unnecessary issues!

[2016-01-08 13:34] modi28 opened #64 "Can not use methods as described."
I get this error in console:
TypeError: $scope.froalaOptions.froalaEditor is not a function
      $scope.froalaOptions is working fine.

My Code:

      $scope.froalaOptions = {
                toolbarBottom: true,
                charCounterCount: false,
                toolbarButtons: ["bold", "italic", "underline"]

            };
            $scope.froalaOptions.froalaEditor("selection.get");

[2016-01-09 09:23] samvloeberghs opened #65 "froala editor resets model"
When using the  froala editor my model gets reset.
When typing into the editor, the model doesn't get updated. But when you do a selection and make bold for example, it does update the model.

So for example:
So I have a controller: "Controller" and this is coupled to a view with an input and a textarea.
The textarea has the froala directive on it.

Controller:

[code]

and answer is bound to the

[2016-01-09 09:59] samvloeberghs commented on #65
It' also only working on setting bold. When I click underline or italic, it doesn't do anything..
This has some really weird behaviour :) For 100$ I expect more

[2016-01-09 10:12] samvloeberghs commented on #65
After further investigation it seems that editor doesn't like child properties of an object on the scope.
If the value in the ng-model is a direct value on the scope it seems to work. Please fix this?

[2016-01-09 17:07] navneet35371 commented on #59
+1

[2016-01-11 12:06] suryaiiit opened #66 "Image Upload using Angular Service"
Trying to Upload an Image using Angular Service, any suggestions on how can this be done.

Thanks.

[2016-01-11 12:53] stefanneculai commented on #66
By default the editor is uploading the image to the specified URL. If you want to upload it differently, then you should handle the upload yourself. On https://github.com/froala/angular-froala/issues/43#issuecomment-142003400, there is an example for doing that in V1.

[2016-01-11 12:53] #66 closed

[2016-01-12 18:48] cgallarno commented on #64
Hey @modi28 it seems that froalaEditor is getting accessed before it's initialized.

There are a couple of ways to solve this. You can watch `froalaOptions` for `froalaEditor` to be set, or use angular's $timeout.

### $timeout
[code]
--

### $watch
[code]

I can look into possible methods to use the editor immediately after declaration.

[2016-01-12 18:50] stefanneculai commented on #64
If you want to do something immediately after initialization, then you should do that inside the [initialized](https://www.froala.com/wysiwyg-editor/docs/events#initialized) event.

[2016-01-12 18:57] cgallarno commented on #64
@stefanneculai I looked into that, and eventhough the event does get called the property in angular's $scope still isn't set, however the editor could be passed into the callback and used that way.

[2016-01-12 20:01] stefanneculai commented on #64
The event should be set somehow before doing the editor intialization in order to make sure it will be triggered correctly.

[2016-01-12 21:29] cgallarno commented on #64
Events and their callbacks are defined before the editor initializes, just the initialization event occurs before angular-froala assigns the editor's instance into a scope where someone's angular code can access. This usually isn't a problem, I assume, because running a method on the editor usually is the result of a button click that occurs far after the initialization happens so this isn't an is

[2016-01-13 16:48] modi28 commented on #64
Hi @cgallarno  @stefanneculai  Thanks for your time.

I am still getting same error, with $timeout and $watch both.

froalaOptions are working fine with me, And binding is working fine too.

[2016-01-13 17:09] cgallarno commented on #64
@modi28 Can you access froalaEditor inside of a function that is called from ng-click?

[2016-01-18 22:57] jester12345 opened #68 "Character Count not showing on initialized content"
If I load the character count plug-in, it successfully loads and shows 0/1500 or whatever. However, I'm preloading content and that is not being considered in the count. As soon as I type a character, the character count updates correctly. It's just not initializing correctly when the model has content already.

Should I be doing something to trigger the character count to initialize on the "froal

[2016-01-20 15:56] stefanneculai commented on #68
Calling [events.trigger('charCounter.update')](https://www.froala.com/wysiwyg-editor/docs/methods#events.trigger) method should update the charCounter.

[2016-01-20 15:56] #68 closed

[2016-01-20 16:12] jester12345 commented on #68
It worked! Thanks for your help.

[2016-01-21 13:18] pine0510 commented on #59
I have same issues.

[2016-01-21 13:22] pine0510 opened #69 "Error using Froala Editor in Ionic hybrid app."
I am developing a forum app using Ionic framework.
And using froala editor.
I followed this tutorial https://github.com/froala/angular-froala
But if I add &lt;textarea froala="froalaOptions" ng-model="myHtml"&gt;&lt;/textarea&gt;  in my html file, only textarea is displayed and i can see error on console

Error: element.froalaEditor is not a function. (In 'element.froalaEditor(ctrl.options)', 'ele

[2016-01-26 15:16] cgallarno commented on #69
@pine0510 are you including the `froala_editor.js` file in your project?

[2016-01-26 17:37] Nudelsieb opened #70 "Adding event to options not working"
The provided Events example does not work:
[code]

Sublime Text highlights wrong syntax, because it is an unnamed function.

In my case, if I do
[code]
the controller breaks. How do I add events to the options object correctly?

[2016-01-26 17:42] cgallarno commented on #70
@Nudelsieb Here's a snippet with option with and events that works fine for me.

[code]

[2016-01-27 09:42] Nudelsieb commented on #70
Oh that works fine, there must have been some other bug, thanks.

[2016-01-27 14:30] cgallarno commented on #70
No Worries, if you feel the readme can be more clear feel free to submit a pull request.

[2016-01-27 14:30] #70 closed

[2016-02-01 09:34] yanivlllev opened #72 "some styles aren't saved - can't figure whats wrong"
hey, i'm trying to figure out why some of the styles aren't applied to the view.

i wrote new custom dropdown for 'text direction' with 'rtl' and 'ltr' - i can see that it changes in the froala edit mode, but in view nothing happens.
also, i noticed that the default "font-size" and "font family" in the toolbar aren't applied.
any ideas for what's wrong?

this is the my custom dropdown configuratio

[2016-02-01 10:07] yanivlllev commented on #72
by the way, when added the following to the 'validStyles(styleAttr)' function in 'froala-sanitize.js' file - the direction css was saved and applied.

    ||
         key === 'direction' && (
                     value === 'ltr'
                     || value === 'rtl'
                )

but i still don't know how to solve it globally and what's wrong with the other styles like font-size and font-f

[2016-02-01 10:35] yanivlllev commented on #40
hi, did this issue solve?
i'm experiencing the same thing.

[2016-02-02 19:06] stefanneculai commented on #61
It's updated now.

[2016-02-02 19:06] #61 closed

[2016-02-02 19:06] #63 closed

[2016-02-02 23:07] cgallarno commented on #49
@harshalkumar The float property shouldn't be removed, but the title attribute isn't whitelisted by froala-sanitize. I don't see a way to add a title to an image with the editor. How is the title getting added? Is there a way you can reproduce this ?

[2016-02-02 23:09] cgallarno commented on #65
@samvloeberghs Hmm, that's strange as my model is a property on an object thats on scope and it works fine. I'll look into this.

[2016-02-03 02:25] cgallarno commented on #72
@yanivlllev This commit should fix it e295480d3ba49d307ff015c5ef0c205d28821fcb, Thanks!

[2016-02-03 02:25] #72 closed

[2016-02-03 02:31] cgallarno commented on #40
I have added support for these attributes to froala-sanitize in this commit 1f8dfc10accde788eeec1736a1ed46f31763da77, we're working on a 'catch-all' solution to support all style attributes.

[2016-02-03 02:31] #40 closed

[2016-02-08 11:04] MarioJonckers opened #73 "angular-froala 2.1.0 data-binding not working with angular 1.1.5"
Please tak a look at my question on [stackoverflow](http://stackoverflow.com/questions/35267998/angular-froala-2-1-0-data-binding-not-working-with-angular-1-1-5)

[2016-02-08 15:11] cgallarno commented on #73
@MarioJonckers This looks to be an issue with angular (https://github.com/angular/angular.js/issues/1924) which should be fixed in 1.2. If updating angular isn't an option there are some workarounds mentioned in that thread. If you can find a way to get angular-froala to work with 1.1.5 pull requests are welcome.

[2016-02-08 15:11] #73 closed

[2016-02-09 17:37] andrewattellwise commented on #59
I did have the same issue. It turned out that I was initializing jquery twice. Once before angular so that angular will use jquery instead of jqLite. And once [by accident] before froala. This caused froala to use the 2nd jquery instance.

You can confirm this by setting a breakpoint before line 36 and observe that angular.element === window.jQuery is false.
If it is false then you've probably set

[2016-02-10 10:21] MarioJonckers commented on #73
Using $parent on the ngModel AND calling scope.$apply() in the froala-directive fixed the issue for me.

[2016-02-10 16:47] mkteagle opened #74 "Embedded Videos Problems"
Embedded videos are not showing up in the ng-bind-html attributed element. I am using ngSanitize and I have included the froala santitize script.

Thanks,
Mike

[2016-02-10 17:57] cgallarno commented on #74
@mkteagle We're still working on supporting all the tags that the froala editor enables users to use, while still keeping angular's security in mind.

For now, you can edit `froala-sanitize.js` and add `iframe` to the `blockElements` and the sanitizer shouldn't remove it when rendered.

[2016-02-10 17:57] #74 closed

[2016-02-10 18:33] babilog opened #75 "froalaEditor never gets set as a property of froalaOptions"
Following the documentation provided on the ReadMe, I am not able to access the froalaEditor using  the followin:  $scope.froalaOptions.froalaEditor("selection.get");

I receive the following error: Object doesn't support property or method 'froalaEditor'

[2016-02-10 18:38] cgallarno commented on #75
@babilog can you provide a code snippet? the froalaEditor object wont be immediately available, it's only after the editor has initialized that property is assigned.

[2016-02-10 19:44] ment0sman commented on #75
I am having a similar issue, snippet below:

`        //froala-options
        $scope.froalaOptions = {
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertHR',

[2016-02-10 19:50] babilog commented on #75
@cgallarno Even when the editor comes into focus, the froalaEditor property is still undefined. Here's another snipped apart from the one @ment0sman .

`            $scope.froalaOptions = {
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragrap

[2016-02-10 20:08] cgallarno commented on #75
@babilog the froalaEditor can only take methods from https://www.froala.com/wysiwyg-editor/docs/methods, you cannot set or change options after the edit has been initialized.

[2016-02-10 20:26] babilog commented on #75
@cgallarno Our main goal is to define an imageUploadURL on the event that an image is uploaded. How could we define that property?

Even when I use the   $scope.froalaOptions.froalaEditor("selection.get"); after defining my options, I still receive the error.

Thank you in advance.

[2016-02-10 20:33] cgallarno commented on #75
I believe this is the same issue as https://github.com/froala/angular-froala/issues/64. @babilog can you try out those suggestions and see if any of them work?

[2016-02-10 20:43] babilog commented on #75
@cgallarno , Yes I've given that a try. We never step into the IF statement even when the editor gets instantiated. We do however have the froalaOptions working.
`        $scope.froalaOptions = {
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragr

[2016-02-10 22:27] GregJF commented on #59
andrewattellwise, thanks for the heads up

[2016-02-12 14:48] mkteagle commented on #74
Thank you!

[2016-02-13 02:56] #75 closed

[2016-02-19 14:36] stefanneculai commented on #64
See the new Readme for using methods: https://github.com/froala/angular-froala#methods.

[2016-02-19 14:36] #64 closed

[2016-02-19 14:36] stefanneculai commented on #59
Should be fixed on the master.

[2016-02-19 14:36] #59 closed

[2016-02-23 11:32] Nudelsieb opened #78 ""Init On Image" not working"
https://www.froala.com/wysiwyg-editor/docs/examples/init-on-image
This functionality causes problems because the directive requires ng-model to insert html. This creates a another `<p>` element with the content from the ng-model, all this wrapped in the `<img />`. Even if I init the `<img />` with a static src, as soon as I want to replace the image the src will be removed. What works is to add a

[2016-02-25 16:00] stivni opened #80 "When content is changed in a Froala editor (based on a textarea), coupled scope variable is never updated"
[code]

When initializing a Froala editor on a textarea with the Froala directive, the associated scope variable, provided in the ng-model directive, never gets updated.
In the demo this results in the "Rendered content" being always empty.

If you inspect the demo and make the associated textarea visible, you can see the contents of the textarea are being updated, but I guess the changes are neve

[2016-02-25 22:06] cgallarno commented on #49
Fixed by this commit: https://github.com/froala/angular-froala/commit/895b45a93bf5f0f26ca945b8645e5645f838c7dc

[2016-02-25 22:06] #49 closed

[2016-03-03 14:01] ankool opened #83 "Gulp build is not showing toolbar buttons"
My angular-froala editor is running well in my angularJS app but the gulp build (minified/uglified version) is not showing toolbar images in my editor. The editor shortcuts work so editor is loaded but image of each toolbar button is just blank. Do we need to make some exception in gulp build file to run froala editor for minfied builds or do we need some manual copy of image files after build to

[2016-03-03 14:08] cgallarno commented on #83
The icons on the editor are actually font awesome font icons, not images. So you need to make sure that font awesome is available to your project after you've minified. @stefanneculai please elaborate if you have further information / instructions.

[2016-03-03 14:10] stefanneculai commented on #83
I believe you're right, Cameron. The icons in the toolbar require font awesome to display by default. If you don't want to use Font Awesome, you could change them as explained here: https://www.froala.com/wysiwyg-editor/docs/concepts/custom-icon

[2016-03-03 20:24] Veloxio opened #84 "Full screen editor in modal dialog no longer displays properly."
Full screen mode seems to be broken in the newest verson, (the editor disappears from the modal overly and is no longer full screen). From what I can see, the old version (v2.0.5) spawns <div class="fr-modal fr-desktop"> in the root of the body, whereas the new version is using the original div located in a bootstrap modal dialog). The change could be causing the problem.

[Example](http://plnkr.c

[2016-03-03 21:04] Veloxio opened #85 "Code view doesn't update the HTML."
The code view does not update the HTML unless you click back to preview, potentially loosing the users changes.

[Example](https://www.froala.com/wysiwyg-editor/docs/examples/live-code-preview)

[2016-03-03 21:16] stefanneculai commented on #85
Please see https://github.com/froala/angular-froala/issues/56#issuecomment-161735682. The editor is not syncing the content more often because if we'd do that the saved content might be bad formatted HTML.

[2016-03-03 21:16] #85 closed

[2016-03-03 21:35] stefanneculai commented on #84
This is an issue with the editor itself, not the Angular plugin. I created a new issue on the editor repo and I am closing this one.

[2016-03-03 21:35] #84 closed

[2016-03-06 17:29] yanivlllev opened #86 "difficulties in firing 'initialized' event"
hey, i'm trying to figure out how to to implement froala's 'initialized' event in angular, but nothing works for me. what im trying to do is to make the TOOLBAR hidden until it's focused:

        $scope.froalaBottom = {
            toolbarInline: false,
            toolbarSticky: true,
            toolbarBottom: true,
            toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'f

[2016-03-07 13:58] cgallarno commented on #86
Hi @yanivlllev, My suspicion is that while the WYSIWYG is ready angular-froala is still booting. We'll have to look into whether or not we have this event called a more accurate time. But in the meantime, if you wrap your methods in a `$timeout` they'll work. Like this:

[code]

[2016-03-07 15:09] cgallarno commented on #80
@stivni Can you confirm that this commit fixes your issue? 83e7e4e6dbd90139f984fc74d18b366dd16f93ea

[2016-03-07 15:27] stefanneculai commented on #86
@yanivlllev I believe you're not using the latest version of the Angular plugin. Could you please check that?

[2016-03-08 13:31] 0N3S3C opened #87 "When using angular-froala, 'froalaEditor.contentChanged' does not fire after quickly backspacing through string"
When using Froala with angular using the froala directive, if you set the initial model value externally (causing the $render method to fire on ngModelController) and then quickly backspace through the entire string value in the editor (not allowing 'froalaEditor.contentChanged' to fire after the backspaces) you will notice that 'froalaEditor.contentChanged' is not fired indicating the value has c

[2016-03-08 14:38] 0N3S3C commented on #87
After further testing. This does not happen when I have a pristine instance of angular froala set up.

[2016-03-08 14:38] #87 closed

[2016-03-08 15:27] stefanneculai commented on #84
@Veloxio see https://github.com/froala/wysiwyg-editor/issues/1108#issuecomment-193823555.

[2016-03-09 01:39] haffo opened #88 "Unlicensed froala editor"
After I deploy my app to prod, I start getting a message in red "Unlicensed froala editor". How to get rid of it. Do I need to buy a license necessary. I am working on an open source project.

Thanks

[2016-03-09 07:17] stefanneculai commented on #88
Yes, it is necessary to purchase a license: https://www.froala.com/wysiwyg-editor/pricing.

[2016-03-09 07:17] #88 closed

[2016-03-09 11:08] misawsneto opened #89 "Does image upload callbacks work??"
Nice job with the angular integration... works well for me.

I'm wondering if callbacks for the image upload work fine?

should i put he callbacks on $scope.froalaOptions??

`.froalaeditor({
        // Set the image upload parameter.
        imageUploadParam: 'image_param',

        // Set the image upload URL.
        imageUploadURL: '/upload_image',

        // Additional upload params.

[2016-03-10 09:11] yanivlllev commented on #86
@stefanneculai hey, thanks for the reply.
versions:
"angular":  "version": "1.4.9"
"angular-froala":   "version": "2.1.0"
"FroalaWysiwygEditor":  "version": "2.0.0-rc.1"

[2016-03-10 09:18] stefanneculai commented on #86
Latest version for Angular plugin is 2.2.1. Editor version should be the same.

[2016-03-10 09:18] #86 closed

[2016-03-14 08:21] kotmatpockuh commented on #43
btw, @stefanneculai in v2.* there is a method in image, called 'hideProgressBar'. When i call it - it hide not only popup, but image as well.
Strange behavior...

[2016-03-14 12:35] stefanneculai commented on #43
On hiding the image progress bar, if there is an image which wasn't uploaded successfully, then it is being removed as well. That is the correct behaviour.

[2016-03-14 12:57] kotmatpockuh opened #91 "Wrong russian translations"
http://prntscr.com/af3eq3 - Полужирный
http://prntscr.com/af3eyb - Выровнять по
http://prntscr.com/af3f3h - **Т**екст
http://prntscr.com/af3feg - Добавить URL
http://prntscr.com/af3fmp - Переместите сюда файл
http://prntscr.com/af3fxx - Обновить
http://prntscr.com/af3g4i - Заменить

There a lot of other wrong translations too. But above are the most critical...
Also: every translation must be from

[2016-03-14 13:01] #91 closed

[2016-03-14 13:27] cgallarno commented on #89
@misawsneto You do put the callbacks on the options object but like this:

[code]

[2016-03-14 13:27] #89 closed

[2016-03-15 10:49] yanivlllev opened #92 "Error: Method undo.reset does not exist in Froala Editor"
hey,  i'm trying to figure out how to solve this error.... whats does it mean?
it occurs everytime a froala is initialized.

i'm using:
[code]

![screen](https://cloud.githubusercontent.com/assets/12447235/13775241/1c400174-eaac-11e5-8fa3-7e9a65a13cd6.jpg)

and also another question... i have this "+" square appearing (with a tooltip that say "insert") when i hover the froala at its Lower-Right co

[2016-03-15 15:22] yanivlllev opened #93 "issue with "toolbarSticky" option"
when i'm using the sticky option, the `<div class="fr-sticky-dummy">` element remains as `display: block` even after the toolbar is closed, what leave a big empty white div...
I've attached a gif to with the issue...
any way to fix it?

![animation](https://cloud.githubusercontent.com/assets/12447235/13783046/5c0dd846-ead2-11e5-9a42-2aa8f024a891.gif)

[2016-03-15 17:10] Whyves commented on #92
Hi,

For the undo.reset error, did you by any chance use the "Init On Click" Froala option. If so, the error stems from this. I had the same issue at some point but solved this by using the manual initialization controls. The Angular framework needs to track the initialize event before doing the undo.reset. Should be added as a bug I guess.

[2016-03-15 17:41] yanivlllev commented on #92
yes, i use "init on click" because i have many froalas on the same page. do you have an example for your code?

[2016-03-15 17:45] Whyves commented on #92
To manually initialize the editors, take a look at the sample 3 example in the [demo page](https://github.com/froala/angular-froala/tree/master/demo).

[2016-03-16 11:54] kotmatpockuh opened #94 "Model isn't updating after image uploading"
When i upload some image to an empty wysiwyg-model: model isn't changing. It's changing only after i type something in wysiwyg.
In wysiwyg v1.* all was ok.

[2016-03-18 08:40] kotmatpockuh commented on #94
Any plans to fix this issue, @stefanneculai?

[2016-03-18 11:49] stefanneculai commented on #94
Just checked it on https://github.com/froala/angular-froala/blob/master/demo/index.html Sample 2 with the master version (V2.2.1) and works just fine. If you are using a custom way to upload the image, then you should push the changes into the undo stack so that the contentChanged event gets triggered.

[2016-03-18 11:50] stefanneculai commented on #93
What options are you using to initialize the editor?

[2016-03-18 11:55] stefanneculai commented on #92
@yanivlllev you should upgrade your editor version to the latest one V2.2.1. You're currently using an outdated one: V2.0.0-rc.1.

[2016-03-20 08:50] yanivlllev commented on #93
@stefanneculai -

i have several types of froala -
these are the options in config:
[code]

and these are the specific options in controller to this specific froala:
[code]

[2016-03-20 16:33] yanivlllev opened #95 "error "An invalid form control with name='' is not focusable""
hey, I keep getting this error when using a froala inside a `<form>`  with `required="required"` attribute:

I don't have any other 'hidden' inputs/fields in my form, and when removing the `required="required"` attribute from the froala the console stops throwing the error. also, if i change the existing text in the froala - it also stops throwing the error.
not sure but i think it started after u

[2016-03-21 08:40] yanivlllev commented on #92
@stefanneculai - i updated the versions to:
"angular": "version": "1.4.9"
"froala-wysiwyg-editor": "version": "2.2.1"
"angular-froala": "version": "2.2.1"

but i'm still getting both of those issues..
1. the "Method undo.reset does not exist in Froala Editor" error
2. and the `+` square when hovering the lower-right corner of the froala.

[2016-03-24 14:14] cecilialam opened #96 "uploaded image is not saved when page is saved"
Hi,
I am running into an issue with uploaded image. The image is uploaded and correct path is inserted to the editor. I inspect the element to confirm the image tag is inserted. However, when the page goes away, the image tag is not included in the html.
On the other hand, if I type after the uploaded image or go to the view code and back to the WYSIWYG, then the page goes away, the image tag will

[2016-03-24 15:10] stefanneculai commented on #96
You might be using an older version and the image was not saved in the undo stack. Please make sure you're using the latest version (2.2.1).

[2016-03-25 09:35] OACDesigns commented on #69
I've just run into a similar issue (using gulp to concat and minify all js files into a single file)
You need to make sure `jquery.js` is added *before* the main `angular.js` file, otherwise angular will use it's own `jqLite` which doesn't have the required functions for froala to work.

[2016-03-29 15:25] cecilialam commented on #96
Thanks. I confirmed that v2.2.2 has fixed this issue.

[2016-03-29 15:25] #96 closed

[2016-04-05 20:56] cristianhoyos66 opened #98 "Could I use this without buy the froala license?"
I ask this, because this plugin is under MIT License, but froala is not, so is necesary to buy the froala license or not?

Thank you.

[2016-04-06 09:07] stefanneculai commented on #98
The Angular wrapper is under the MIT license - this refers to the angular plugin code, not the editor one. In order to use the editor you should purchase a license.

[2016-04-06 09:07] #98 closed

[2016-04-11 08:56] kotmatpockuh commented on #94
@stefanneculai
maybe u have simple fiddle with angular+froala?
i'll show you

[2016-04-11 08:57] stefanneculai commented on #94
@kotmatpockuh  Unfortunately, we don't have one. Looking forward for the jsFiddle.

[2016-04-11 09:06] kotmatpockuh commented on #94
so, you haven't checked it with angular, right?

[2016-04-11 09:07] stefanneculai commented on #94
We checked it with Angular locally, not in a jsFiddle using https://github.com/froala/angular-froala/blob/master/demo/index.html.

[2016-04-11 14:29] kotmatpockuh commented on #94
something strange: i try it with plunker (not a localhost), and it doesn't work at all:

https://plnkr.co/edit/3Kh7saipkf3QPj1YRxZv?p=preview

$(...).froalaEditor is not a function(…)

why? core is defined in froalamain.js

[2016-04-11 14:36] kotmatpockuh commented on #94
do you need exactly jsFiddle or .zip is good too?

[2016-04-11 14:38] stefanneculai commented on #94
You have to include Angular after the editor JS, that's why that Plunker is not working.

[2016-04-11 14:54] kotmatpockuh commented on #94
it's the same, then i got a lot of other issues: https://plnkr.co/edit/3Kh7saipkf3QPj1YRxZv?p=preview

[2016-04-11 15:04] kotmatpockuh commented on #94
@stefanneculai  maybe U know other tool with npm support (to install packages via bower for example)

[2016-04-11 15:12] stefanneculai commented on #94
https://plnkr.co/edit/gPF3x6T4z6tEu01hpKmN?p=preview

[2016-04-12 07:37] kotmatpockuh commented on #94
finally i got it...

try to add ng-required directive to froala element: https://plnkr.co/edit/ki4aSx15I97OcE0yw2nh?p=preview

and add image to empty (without <p></p>) editor image:

http://i.imgur.com/73I98RU.png

[2016-04-12 07:37] kotmatpockuh commented on #94
finally i got it...

try to add ng-required directive to froala element: https://plnkr.co/edit/ki4aSx15I97OcE0yw2nh?p=preview

and add image to empty (without <p></p>) editor image:

http://i.imgur.com/73I98RU.png

[2016-04-12 07:37] kotmatpockuh commented on #94
finally i got it...

try to add ng-required directive to froala element: https://plnkr.co/edit/ki4aSx15I97OcE0yw2nh?p=preview

and add image to empty (without <p></p>) editor image:

http://i.imgur.com/73I98RU.png

[2016-04-12 07:37] kotmatpockuh commented on #94
finally i got it...

try to add ng-required directive to froala element: https://plnkr.co/edit/ki4aSx15I97OcE0yw2nh?p=preview

and add image to empty (without <p></p>) editor image:

http://i.imgur.com/73I98RU.png

[2016-04-12 13:04] stefanneculai commented on #94
@cgallarno could you take a look into this? It appears the methods are being called correctly, but the model isn't updated. Seems to the related to https://github.com/froala/angular-froala/pull/81, but that PR doesn't fix it.

[2016-04-12 13:06] kotmatpockuh commented on #94
yeah!

and please reopen bug)

also, @cgallarno please make it ASAP - it's a critical issue...

[2016-04-12 13:07] stefanneculai commented on #94
@kotmatpockuh please have patience. We're doing our best to fix this ASAP. It's not necessary to spam. Thank you.

[2016-04-12 13:10] kotmatpockuh commented on #94
@stefanneculai man, it's github: i can write almost everything i want and when i want)
it's not your private task manager...

[2016-04-12 14:33] cgallarno commented on #94
I believe the issue is caused  in angular-froala when ng-model checks to see if the model has any content, it does "dumb" check looking only for text. It's done this way to so empty p tags and lists etc, still fail validation since there's no actual content. We'll update it to support html elemets that are allowed to be empty.

[2016-04-12 14:36] stefanneculai commented on #94
Are you referring to https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L105? Because it evaluates this as being `true`.

[2016-04-12 14:45] cgallarno commented on #94
Nope, I'm on mobile so I can't verify but I think it's this check:

                ngModel.$isEmpty = function (value) {
                    var isEmpty = jQuery(jQuery.parseHTML(value)).text().trim().length <= 0;
                    return isEmpty;
                };

[2016-04-12 14:52] stefanneculai commented on #94
Yes, that's it. I believe `ngModel.$isEmpty` should actually be removed because the editor does a check internally to see if it is empty and in case it's empty it returns an empty string.

[2016-04-12 15:10] cgallarno commented on #94
Then we should update ngModel.$isEmpty to simply call froalas concept of
being empty. But we should keep it so angular can stay informed if it's
empty or not.
On Tue, Apr 12, 2016 at 10:52 AM Stefan Neculai <notifications@github.com>
wrote:

[2016-04-13 10:48] #94 closed

[2016-04-13 10:49] stefanneculai commented on #95
Are you getting that in V2.2.3?

[2016-04-13 10:51] stefanneculai commented on #93
You should also hide/show the sticky div: ` editor.$box.find('.fr-sticky-dummy').hide()`.

[2016-04-13 10:51] #93 closed

[2016-04-13 10:52] #83 closed

[2016-04-13 10:53] stefanneculai commented on #80
@stivni Could you please try the latest master or the PR 83e7e4e? Thank you.

[2016-04-17 21:07] mpmlj opened #99 "Need help with correct auto-save init"
Hi,

**My case**
I'm building an article editing page. First - the page itself loads, and then its controller sends an ajax request to fetch an article. I initialize article attributes in the beginning of the controller with empty values, ex. vm.story.body, vm.story.headline, etc. and then my article loading call populates them.

**Problem**
1. If I initialize auto-save parameters (saveURL, savePa

[2016-04-18 15:09] cgallarno commented on #99
Hey @mpmlj,

Have you looked at the possibility of using the manual init with the directive to only initialize the editor after you have your content? https://github.com/froala/angular-froala#manual-instantiation

[2016-04-24 17:41] mpmlj commented on #99
@cgallarno
Hi, thank you for the suggestion!
However, honestly, totally unclear how this should work (also I'm using John Papa's var vm = this; approach). I did check the demo, but still not clear and not docs in Internet regarding "froala-init".
I would really appreciate if you could provide an example that would be setting options, assigning a model with source data and manually initializing the

[2016-04-25 03:21] qkraudghgh opened #100 "The Editor is scrolling to the top after insert Image by url , and another problem"
Hi. I have some problem

**problem**

1. The Editor is scrolling to the top after `insert Image` by url
2. When i use `insert Image button` ( i think, use this button three or four times )
    this button is froze up suddenly

**using version**

1. angular-froala `v2.2.3`
2. angular `v1.4.3`

Please I want know whether this problem is editor's problem

Thanks,
myoungho.Pak

[2016-04-25 09:18] MichaelTSS commented on #92
@stefanneculai I have the same issue, and just like @yanivlllev I have many editors on the same page. I don't want to have the user click on an button to init the editor.

[2016-04-26 07:36] RizwanAslam opened #101 "use angular binding inside editor view"
Hi
I want to use angular binding inside the editor view to dynamically update some data when it is updated from outside but when i use some angular directive inside html view it will trim it and if i use angular curly braces it will show them directly into view without evaluating them. Is this possible do such a binding inside froala editor.

[2016-04-26 15:41] stefanneculai commented on #100
Are you able to replicate this on [our website](froala.com/wysiwyg-editor)?

[2016-04-26 15:42] stefanneculai commented on #101
I would say that it is not possible to have direct binding in the editor view. The editor is inserting the HTML as it is, without evaluating it as Angular does. What you could do is to evaluate the HTML in Angular before inserting it into the editor and then insert in the editor the built HTML.

@cgallarno Do you have any suggestions about such an use case?

[2016-04-26 22:02] cgallarno commented on #101
Hi,
We commonly insert directives and curly braces in the editor to be
evaluated outside of the editor. It's currently is not possible to have
angular bindings inside of the editor and I can't think of a good reason
to. We render the content inside a div where angular does run and ngHide
that and ngShow the editor when the content is being edited. As for the
editor stripping out your directives yo

[2016-04-27 02:10] qkraudghgh commented on #100
sure but i don't access your link.
I see 404 error...
https://github.com/froala/angular-froala/issues/froala.com/wysiwyg-editor
this link that right?

[2016-04-27 06:18] RizwanAslam commented on #101
Hi ... Thanks for the support.
In my case i was trying to bind some data to the template generated from froala editor so that it will be updated when the data source is updated ....... it is possible by ng-bind-html angular directive or for me when i insert html into view from controller i  can use
$compile(
        '<h1 ng-hide="true">Hi</h1>'
        )($scope)
to add angular binding .......
Now

[2016-04-27 07:29] iloverails opened #102 "Insert html templates to froala editor"
Hi guys, I have an interesting questions about inserting custom html template to froala editor. For example when I past
`<a href=\"{{viewed_property | propertyUrl | loginUrl(client.email)}}\" target=\"_blank\">  <img src=\"{{viewed_property | propertyImageUrl}}\" width=\"150\" height=\"100\" alt=\"{{ viewed_property.address }}\"/></a>
`
as html to froala it saves as encoded text:
`<a href="%5C%22%

[2016-04-27 10:29] stefanneculai commented on #102
See the [entities option](https://www.froala.com/wysiwyg-editor/docs/options#entities)

[2016-04-27 10:29] #102 closed

[2016-04-27 10:31] stefanneculai commented on #100
It should be https://www.froala.com/wysiwyg-editor.

[2016-04-27 12:47] iloverails commented on #102
Hmm.. Not sure how it works.. I included plugin and set option entities: '', but is the same result... Could you provide example of this option please

[2016-04-27 12:49] stefanneculai commented on #102
`href` and `src` attributes are sanitizied to prevent XSS attacks. If you want to allow curly brackets inside that you should change the sanitizeURL method.

[2016-04-27 12:53] iloverails commented on #102
How can I change it via angular-froala directive?

[2016-04-27 12:54] stefanneculai commented on #102
You would have to make this changes in the editor unminified JS.

[2016-04-27 12:59] iloverails commented on #102
eh, could you also give the cue for what the value shall I change this method?

[2016-04-27 13:00] stefanneculai commented on #102
@iloverails we maintain this repo for bug tracking, not tech support. For tech support, please [contact us](https://www.froala.com/wysiwyg-editor/contact) via our website. Thank you.

[2016-04-27 13:00] iloverails commented on #102
ah ok, sorry

[2016-04-27 13:30] cgallarno commented on #102
@iloverails Have you also tried using the ng-href and ng-src attributes? From my testing those don't get sanitized and still work as expected.
[code]

[2016-04-27 13:35] iloverails commented on #102
@cgallarno yep, it's good idea if you will use it in angular app, but I'll use html without angular

[2016-04-27 13:36] cgallarno commented on #101
Correct, ng-bind-html and froala-view will not compile into angular for security reasons.

For when we want to render html for angular to use we created this simple directive that you can use.
[code]

Which can be used like this:

[code]

[2016-04-27 13:38] cgallarno commented on #99
If you clone this repository and run the demo, 'Sample 3' should show you everything you need.

[2016-04-27 14:02] cgallarno commented on #102
What about using angular's `$compile` service to compile the code with angular when you're done editing and then save the result? https://docs.angularjs.org/api/ng/service/$compile

[2016-04-28 02:31] mpmlj commented on #99
@cgallarno

Hi, thank you, I can initialize the editor separately on article load now,
however an issue with autosave and updating saveParams in particular is still there:

1. On content load, I initialize froala's options like
`vm.froalaOptions.saveParams = {
                        body: vm.story.body,
                        deck: vm.story.deck,
...
}
`
2. For a model I'm using vm.story, i.e.
`

[2016-04-28 12:58] McGiogen opened #103 "Error "value is undefined" with ngModel empty from v2.2.4"
Hi,
From latest version, 2.2.4, we've encountered an error when ngModel is null or empty string.
With the exception of the error, it seems that everything is working properly. The error is not fired if ngModel is a string with a space (or another not-empty string).

Stack trace:
[code]

Froala config object:
[code]
HTML is really simple
[code]

Everything is working as expected in v2.2.3

I am ava

[2016-04-28 13:14] cgallarno commented on #99
If I'm not mistaken, $scope.title, and vm.story.title would be two different variables?

[2016-04-28 19:08] mpmlj commented on #99
@cgallarno
Hi,
its a mistake in the example (sorry, my bad - I tried both options with $scope and with vm.), however not related to the issue: I can pickup a variable used as a model for the editor, however If I add other variables to saveParams - they are not updated and sent with their initial state.

[2016-04-28 19:28] cgallarno commented on #99
So is it that the title variable isn't updating? is that froala model? You might want to look into setting `immediateAngularModelUpdate` to true. https://github.com/froala/angular-froala#directive-specific-option

By Default the model doesn't update instantly it waits for froala contentUpdated event for performance, this option updates the model on every keystroke.

[2016-04-28 20:09] mpmlj commented on #99
@cgallarno

No, model value for the Froala editor is being sent w/o problems. I've sorted this out.
What I mean is that you can add other variables/models to saveParams, and they are not getting updated.

[2016-04-28 20:46] cgallarno commented on #99
Could you provide more of your controller code, or replicate this in a jsfiddle?

[2016-04-29 03:02] mpmlj commented on #99
@cgallarno
Hi, I've put together a gist here: https://gist.github.com/mpmlj/7a0e46faf5b99e3c3d1acd99930b5ca4
Sorry, the controller itself is pretty huge so can neither put it here or reproduce via jsfiddle.
Hope this helps!

Thank you
D

[2016-04-29 09:36] RizwanAslam commented on #101
great ..... Thanks :+1:

[2016-04-29 12:41] cgallarno commented on #99
Hey @mpmlj good news, you're not crazy! haha. I replicated the issue using the angular-froala demo. My first thought is that the froala editor is just taking the value of those variables when it's initialized, and not creating a pointer to the variable itself. @stefanneculai is that correct?

I Haven't tested the original froala editor yet to see if this issue stems from there or not.

[2016-04-29 12:43] stefanneculai commented on #99
Indeed if values are changed after the editor is initialized, they won't reflect that in the editor. What you should do is to change the editor option too: https://github.com/froala/wysiwyg-editor/issues/778#issuecomment-142609365

[2016-04-29 13:10] cgallarno commented on #99
@stefanneculai Thanks for the clarification, so @mpmlj all you need to do is to reassign that option in your save.before event

[code]

[2016-04-30 05:26] mpmlj commented on #99
@cgallarno
Aha, "editor.opts" did the magic!
I tried 2 days before without success doing
`vm.froalaOptions.saveParams.headline = vm.story.headline;`

Thank you, guys!

[2016-04-30 05:26] #99 closed

[2016-05-04 10:28] ivassiliev opened #104 "Binding the Froala content to null causes an error."
Hi,

Please see the following Plunker for an example, see the console output:
http://plnkr.co/edit/Qr95RpSTwzVTFWVsMlNt

If the content you're passing to Froala starts off as null or undefined, angular-froala throws an error.

Cheers,

Ilia

[2016-05-09 13:42] Mekimuraosu opened #105 "events: 'froalaEditor.commands.before' is not firing untill editor is selected with a mouse click"
Hey

I have an editor that is using the html code view, and from what I could see on previous issues, it is with good reason that the codeView is not updating the model constantly.

I have a modal that the editor is shown inside, and it saves the model to a database when a button is clicked, but when saved inside the codeView it saves nothing unless the user clicks back to the text view.

So to pr

[2016-05-09 14:06] cgallarno commented on #105
Hey @Mekimuraosu, I ran into this same issue of 'saving' the content of the model but from the html mode the model wasn't updated. So what I did was if the code view was visible, (You could set a boolean in your 'html.before' method), I would toggle the codeView to close it which would update the model. https://www.froala.com/wysiwyg-editor/docs/methods#codeView.toggle

[2016-05-09 14:46] yanivlllev commented on #95
it was on V 2.2.1 when i opened the issue. i'll update to the latest version and check if it still throws that error. thanks.

[2016-05-09 18:01] samvloeberghs opened #107 "flashy behaviour"
When scrolling on a page that has the froala editor, it has some flashy behaviour..
Stopping on some points even keeps the flashy state

<img width="916" alt="screen shot 2016-05-09 at 20 01 33" src="https://cloud.githubusercontent.com/assets/231618/15122780/de006fa2-1620-11e6-8483-ede721709573.png">
<img width="946" alt="screen shot 2016-05-09 at 20 01 37" src="https://cloud.githubusercontent.com

[2016-05-12 09:33] Mekimuraosu commented on #105
Thank you, this worked nicely for me!

[2016-05-12 09:33] #105 closed

[2016-05-13 12:13] henningborchers commented on #92
@stefanneculai
i also have this issue with

"angular": "1.5.5"
"angular-froala": "2.2.4"
 "froala-wysiwyg-editor": "2.2.4"

[2016-05-13 12:14] stefanneculai commented on #92
@cgallarno any thoughs on this?

[2016-05-13 13:26] cgallarno commented on #92
@stefanneculai I can't recreate the issue in my local copy, can anyone provide a jsFiddle that replicates this?

[2016-05-13 14:16] Whyves commented on #92
@stefanneculai , @cgallarno

Let me take a look, I am pretty sure to know what the problem is as I have faced it in the past.

[2016-05-20 14:54] stefanneculai commented on #107
Could you please check with V2.3.0 and let us know if you still have the problem? If the problem is still there, please make a jsFiddle for it.

[2016-05-20 14:56] #101 closed

[2016-05-20 14:56] stefanneculai commented on #100
Closing this due to lack of response.

[2016-05-20 14:56] #100 closed

[2016-05-20 15:07] #103 closed

[2016-05-20 15:08] stefanneculai commented on #104
Same with #103. Fixed.

[2016-05-20 15:08] #104 closed

[2016-05-20 15:08] stefanneculai commented on #95
Any news?

[2016-05-20 15:10] #80 closed

[2016-05-23 12:29] TonyWoo opened #109 "Do you have any plan to support the Angular 2"
Hello, we want to use this in a Angular 2 project. Do you have any plan to support the Angular 2? Thanks.

[2016-05-23 17:22] cgallarno commented on #109
Sorry at this time, I do not plan to update this directive to support angular 2.

[2016-05-23 17:22] #109 closed

[2016-05-23 17:56] MichaelTSS commented on #92
@Whyves did your commit fix it? It is 10 days old and v2.3.0 was released 3 days ago without it.

[2016-05-23 18:32] cgallarno commented on #92
@Whyves Your pull request has been merged into master. cc: @MichaelTSS

[2016-05-23 18:32] #92 closed

[2016-05-24 07:31] MichaelTSS commented on #92
@cgallarno When using the master branch, the issue seems fixed.
Thank you @Whyves for your commit!
Any plans on releasing it soon? Maybe v2.3.1?

[2016-05-24 16:06] samvloeberghs commented on #107
it seems to be fixed with this version :) supergreat! 👍

[2016-05-24 16:06] #107 closed

[2016-05-26 10:01] ivassiliev opened #110 "Froala issue with undefined content"
Hi,

When given undefined content, Froala throws an error in 2.3.0

Plunker: http://plnkr.co/edit/GOzUPT6s9QFL7MXGYbc3

Please see the console output.

Thanks,

Ilia

[2016-05-26 12:49] stefanneculai commented on #110
That has been fixed after release 2.3.0: b083a1992a4f424582a7c482de966c542f1b9ca6.

[2016-05-26 12:49] #110 closed

[2016-06-13 15:35] Ohjay44 opened #112 "Maximum call stack size exceeded"
I am using the angular-froala editor that you have provided and it is working great except for when I go to destroy it. First I had it in an ng-if and when it ifed out it would the Maximum call stack size exceeded, so then I tried to manually destroy it and I received the same error. Can you please let me know if it is something I am doing wrong or if it is a bug. Thank you!

[2016-06-13 15:52] Ohjay44 commented on #112
Turns out I was a version behind on my jquery!

[2016-06-13 15:53] #112 closed

[2016-06-20 02:09] hungcrush opened #113 "Why froala so slow on Microsoft browser"
Hi there,

I have problem with typing slowly.
 Case 1:
- I copied string with length over 250 characters and then I continue typed more and the typing speed is too low

Case 2:
- I run through Internet Explorer 11 and type with fast speed and got the same problem Case 1

So have you solved this problem ? If you had, please let me know and give me more advises.

Regards,
Have a nice day

This is my

[2016-06-30 04:02] sedgey01 opened #114 "Error when cutting content"
Running Chrome on mac and Froala 2.3.3, when you add text content, highlight and cut it then the selected content is copied into the clipboard but only text content is removed from the editor (i.e. images remain in place), and an error is produced:
`Cannot read property 'get' of null`.

Clicking on an image (and seeing its resize handles) and cutting does not produce the error.

It is possible to

[2016-06-30 04:29] #114 closed

[2016-07-08 07:22] qkraudghgh opened #115 "When i save text, sometimes all <img> tag disappear"
Hi !
I have some Issue

### previously
[code]

### Issue
 When i save some contents(img, text) using froala editor, sometimes all `img tags` disappeared.
 I don't know why , I tried many attemps but it's randomly occured

Disappear `image tags` and some `br tags`

----

I really love this library, and well used.

Thank you!

[2016-07-12 16:28] vamsimutyala opened #116 "froalaEditor.initialized is not triggered"
froalaEditor.initialized is not triggered due to which ctrl.editorInitialized is not set to true.
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L73
This is not allowing the html to render.
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L44

is there anything that has to be done to initialize the editor ?

[2016-07-12 16:31] vamsimutyala opened #117 "froalaEditor.initialized is not triggered"
froalaEditor.initialized is not triggered due to which ctrl.editorInitialized is not set to true.
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L73
This is not allowing the html to render.
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L44

is there anything that has to be done to initialize the editor ?

[2016-07-16 14:28] Rahul-Giri opened #118 "With froala editor ng-embed showing error (Important)"
Hi,

I'm using froala editor to insert some wisywig functionality to my post. i'm also using ng-embed on it. like this.

<span froala-view="post.body | embed"></span>
then it's showing this error :disappointed:

Error: [$sce:itype] Attempted to trust a non-string value in a content requiring a string: Context: html
[error link](https://docs.angularjs.org/error/$sce/itype?p0=html)

I checked angula

[2016-07-22 15:23] stevie-p opened #119 "Using `froala` inside a custom directive ignores options"
Hi

I'm in the process of checking out whether (angular-)Froala can do what I need it to.

The `froala` directive works well on its own, but if it is used in a custom directive, it does not pick up any passed in options (such as `toolbarInline`).
[See this Plunk](http://plnkr.co/edit/szumjuzYHLByRxjRf3gI?p=preview)

Is this a bug, am I doing something wrong, or does Froala not support this use-cas

[2016-07-22 15:36] RonB opened #120 "How to specify the purchased key"
Can you tell me how i should specify the key? I've tried in the froalaOptions

`froala="{key: "froala.xxxxxx"}`

Thanks,
ronald

[2016-07-22 15:44] stefanneculai commented on #120
Hi Ron! You should just pass it as an option: https://github.com/froala/angular-froala#options.

[2016-07-22 15:44] #120 closed

[2016-07-26 10:29] RonB opened #121 "toolbarInlijne not showing up"
Hi,

I am using these options in the controller:
`$scope.froalaOptions = {
    toolbarInline: true,
    toolbarVisibleWithoutSelection: true,
    language: 'NL',
    toolbarButtons : ["bold", "italic", "underline", "|", "align", "formatOL", "formatUL"]
}`

HTML
`<div froala="froalaOptions" ng-model="record.data.inhoud"></div>
`
I see the quick insert button, I can type text, but the toolbar is not

[2016-07-27 11:30] stefanneculai commented on #121
@RonB I believe you might have a zIndex higher than the one of the editor. Could you please send us a link to the page where you have this problem via [our contact form](https://www.froala.com/wysiwyg-editor/contact)?

[2016-07-28 09:50] RonB commented on #121
@stefanneculai
Yes that is correct. I use the directive in dialogs, which can stack over each other. Now I need to set the z-index of the dialog to 3 or less, otherwise the toolbar is invissible. As the z-index of the (ng-)dialogs can increase, a value of 3 or less is not an option. Can you not specify a dynamic index wich makes sure the toolbar is directly above the z-index of the directives elem

[2016-07-28 09:51] stefanneculai commented on #121
Unfortunately, that is not possible.

[2016-07-28 09:52] RonB commented on #121
wow... any thoughts on this normal use-case?

[2016-07-28 09:57] stefanneculai commented on #121
You could set the `zIndex` option of the editor to a high value. Doesn't that work?

[2016-07-28 09:59] RonB commented on #121
The trouble is I dont know what value because the general code is the same for each dialog so I would need to keep track of the number of dialogs. I'll give it a try though. Thanks for the quick response.

[2016-07-28 10:00] stefanneculai commented on #121
You could just set a higher value, like `9999`, maybe.

[2016-07-28 10:08] RonB commented on #121
Tried it and it works fine. The scenario where 2 editors interfere is not very likely. Thanks again.

[2016-07-28 11:43] RonB commented on #121
If I may ask another related question, can you explain why the toolbar with zIndex 9999 nw is visible, but the specific toolbar for table editing is not?

[2016-07-28 11:45] stefanneculai commented on #121
It might be an issue from our side. Could you please send us a link to a page where you have this problem? It appears this is a problem very specific to your app, therefore please contact us via our website: https://www.froala.com/wysiwyg-editor/contact.

[2016-08-01 10:39] RonB commented on #121
Hi Stefan,

It seems like the problem has to do with ngDialog. The zIndex param works but only for the primary toolbar.
[https://plnkr.co/edit/U5NCfM?p=preview]

In the plunkr you can see the problem when clicking in a cell. the table toolbar is lying behind the dialog.

[2016-08-01 10:42] stefanneculai commented on #121
I can see that you're using an older version of both the Angular plugin and the editor. Does this happen with the latest V2.3.4 version as well?

[2016-08-01 12:29] RonB commented on #121
I have updated the plunkr to 2.3.4 and also pasted the last src from this master branche. I cannot see any difference.

[2016-08-01 12:34] stefanneculai commented on #121
That appears to be a problem from our side. We'll review it shortly.

[2016-08-04 15:39] #121 closed

[2016-08-04 15:39] stefanneculai commented on #121
@RonB last commit should fix this problem. Could you please check?

[2016-08-06 07:00] fireole commented on #78
I am also trying to get this part to work as well. @Nudelsieb  were you able to get this to work?

[2016-08-06 13:51] fireole commented on #78
Bump, any chance this can be looked at?  @stefanneculai

Thanks

[2016-08-08 10:01] stefanneculai commented on #78
@fireole we'll look into this over the following days.

[2016-08-08 12:56] ghost opened #122 "Update froala-sanitize.js to mirror up to date ng-sanitize version"
Hello,
we are using this amazing editor.  We are using also froala-sanitize.js which we have noticed is based on 1.3.0 angular. It would be great to keep up to date with the latest angular-sanitize version. We have noticed there are some parts of code different - for example linky filter in 1.5.8 angular has more arguments than it had in 1.3.0 and some more functionality changes. (www. links supor

[2016-08-10 11:32] Nudelsieb commented on #78
@fireole, sorry for the late reply. I am not working for the project anymore that used Froala, so cannot tell if anyone else has solved this issue. However, the above described solution / workaround worked at that point. I hope I could help.

[2016-08-11 21:44] florinpopescu commented on #78
@fireole Please check this pull request: https://github.com/froala/angular-froala/pull/123 and see if it works.

You init the editor like this: `<img froala ng-model="imgModel"/>` where the ng-model is an object of attributes - eg: `{src: 'path/to/img.jpg'}`.

Please check README and demo for more explanations and examples :smiley: .

Thanks

[2016-08-11 21:50] fireole commented on #78
Perfect, I will check tonight and let you know

[2016-08-12 13:49] fireole commented on #78
That worked!  Thank you.

The only thing I could see and it is not super big, but after loading a
picture the handles on the picture is bumped down off the picture/image.
Here is screen shot.  I tried to reproduce on your inline demo on website
and could get it to do the same thing.

thanks

[image: Inline image 1]

On Thu, Aug 11, 2016 at 2:44 PM, Florin Popescu <notifications@github.com>
wrote:

[2016-08-12 17:41] florinpopescu commented on #78
Cool :smiley: Thank you too.

I cannot see the screenshot.

[2016-08-12 17:45] fireole commented on #78
i will try this:

![snip_20160812104324](https://cloud.githubusercontent.com/assets/985103/17631648/c8a96e26-6079-11e6-8be0-00a42188405a.png)

let me know if you can see that.

[2016-08-12 17:51] florinpopescu commented on #78
Yep I saw. I will investigate that in the next days and I will let you know :smiley: .

[2016-08-12 18:15] florinpopescu commented on #78
This was fixed here https://github.com/froala/wysiwyg-editor/issues/1425
It is not released yet but you can include it manually till the next release :smiley: .

[2016-08-12 19:09] florinpopescu commented on #78
Merged the pull request.

[2016-08-13 04:55] fireole commented on #78
That worked thanks much!!!  You guys are awesome!

[2016-09-29 14:31] jwhitmarsh commented on #119
@stevie-p did you get anywhere with this? I'm experiencing the same issue.

[2016-10-05 02:03] zockfoul opened #126 "set withCredentials to false"
Hi, everyone. I'm getting this error :

<img width="1276" alt="captura de pantalla 2016-10-04 a las 10 58 34 p m" src="https://cloud.githubusercontent.com/assets/5187386/19098664/9f7f4490-8a85-11e6-83d0-b4c9482f8fe9.png">

I'm trying to find a way to set the option credentials to false but I failed to find anything in the documentation. Try going to do so in the settings but it has not worked:

.v

[2016-10-06 00:11] peterjkirby commented on #119
+1

[2016-10-14 11:00] stefanneculai commented on #117
Duplicate of #116 .

[2016-10-14 11:00] #117 closed

[2016-10-14 11:22] stefanneculai commented on #119
This doesn't appear to be a problem with the Froala directive. It looks like Angular is calling the link method from the inner directive before setting the scope in the outer one. See the logs from the console: http://plnkr.co/edit/1gX3QCAMVluj9NiNMg34?p=preview.

[2016-10-14 11:22] #119 closed

[2016-10-14 11:25] stefanneculai commented on #126
Starting with V2.3.5, there is going to be an option called: `requestWithCredentials` to disable it. In the meanwhile you can use the `requestWithCORS` to disable this.

[2016-10-14 11:25] #126 closed

[2016-10-14 11:26] stefanneculai commented on #113
@hungcrush  Are you using the version 2.3.4?

[2016-10-14 11:26] stefanneculai commented on #115
@qkraudghgh first of all please use the latest V2.3.4 version. You might have a sanitizier on server side that removes them.

[2016-10-14 11:26] #115 closed

[2016-10-14 11:34] stefanneculai commented on #116
See here: http://plnkr.co/edit/guXPfE9BteG1DPgwUKnX?p=preview.

[2016-10-14 11:34] #116 closed

[2016-10-14 11:34] stefanneculai commented on #122
@TheNightmareDev could you please make a PR? Thank you.

[2016-10-14 11:34] stefanneculai commented on #95
I am closing this due to lack of response.

[2016-10-14 11:34] #95 closed

[2016-10-14 11:35] #69 closed

[2016-10-14 11:35] stefanneculai commented on #78
@fireole thanks for confirming.

[2016-10-14 11:35] #78 closed

[2016-10-19 11:26] bogdandjukic opened #127 "Emoji (emoticons) not binding to a scope"
So, I have a froala text editor, and on the same page, there's a div which should bind everything written in froala. Everything works except the emoticons.
They are binded, but what's missing is the inline style telling which icons to show.

What would be the fix for it?

[2016-10-27 07:35] GZWZC commented on #89
@cgallarno Hello,this events is image.beforeUpload，and then upload events how we write?thx you

[2016-11-06 05:11] hemanthYerra opened #128 "How to add $.FroalaEditor.DEFAULTS.KEY in angular js"
Hi Purchased a Froala Licence but not sure where to update the above code .

Small snippet will be helpful

[2016-11-07 09:03] stefanneculai commented on #128
Please pass it as an option when initializing the editor: https://github.com/froala/angular-froala#options.

[2016-11-07 09:03] #128 closed

[2016-11-10 17:49] AElouai commented on #74
if any case changing the sanitize file doesn't resolve your problem you can  bind it  directly lile so

[code]

[code]

[2016-11-10 17:50] AElouai commented on #74
if any case changing the sanitize file doesn't resolve your problem you can bind it directly like so

[code]
[code]

[2016-11-21 20:13] nick-berry opened #129 "requestWithCredentials not using origin header"
Not sure if I'm misunderstanding how the "requestWithCredentials" option works but I'm having a bit of trouble. When uploading an image, the initial POST sends my cookie and an origin header. The subsequent request to get the image data to insert into the WYSIWYG contains the cookie, but not the origin header. The authorization built into the backend I am using requires the origin header for autho

[2016-11-22 13:18] nick-berry commented on #129
Looks like the second request is made by the browser (in the image src attribute) and isn't made by a jQuery XMLHttpRequest in the tool like I thought. Closing this one.

[2016-11-22 13:18] #129 closed

[2016-11-29 06:21] ravindueranga commented on #68
I have it like this,
[code]

How can I `add events.trigger('charCounter.update')` in here?

[2016-11-29 12:48] jester12345 commented on #68
I actually ended up calling it this way:
`$(this).froalaEditor('events.trigger', 'charCounter.update');`
But it looks to me like they way you are doing it should should work. As long as you are giving it content prior to initialization. If it's after Froala has initialized, then you might want:

[code]

[2016-11-29 20:38] ClaytonKinder opened #130 "Adding a colored background to large text ends up giving it a sort of thick underline instead"
![image](https://cloud.githubusercontent.com/assets/12376135/20728010/bfb129be-b649-11e6-8972-c22bf2084485.png)

If you add a background to large text, it appears like the top text in the image. If you add the background first and then enlarge it, it appears normally.

[2016-11-30 08:49] ravindueranga commented on #68
Hey @jester12345 actually your code worked. Thanks

[2016-12-01 10:02] bogdandjukic commented on #127
I found a fix myself, it may help others.
In the froala options just set
emoticonsUseImage: false

[2016-12-19 19:33] nick-berry opened #131 "Align option not working"
Having some trouble with the align configuration option.

Controller:
`      var froalaOpts = ['align'];
      $scope.froalaOptions = {
        toolbarButtons:   	froalaOpts,
        toolbarButtonsMD: froalaOpts,
        toolbarButtonsSM:   froalaOpts,
        toolbarButtonsXS: 	froalaOpts,
        pluginsEnabled: ['align'],
        placeholderText: 'Enter a note here'
      };`

Template:
`  <tex

[2016-12-19 20:46] #131 closed

[2016-12-19 20:47] nick-berry commented on #131
I was able to solve this one on my own. There was a typo in our codebase but this is all set.

[2016-12-21 18:16] mezhik91 opened #132 "License key"
Hello! I'm using angular-froala and I have a license key, but I can't find the code example how to insert this code. Where I can find such info?

Thank you!

[2016-12-27 11:48] stefanneculai commented on #132
@mezhik91 You should just pass the key as any other option when initializing the editor. If you have any troubles please reach us via our website contact page.

[2016-12-27 11:48] #132 closed

[2017-01-26 12:25] #127 closed

[2017-01-26 12:35] stefanneculai commented on #113
@hungcrush it should be fixed in V2.4.1.

[2017-01-26 12:35] #113 closed

[2017-01-26 12:37] stefanneculai commented on #122
@cgallarno all that should be done for this is to copy https://github.com/angular/angular.js/blob/master/src/ngSanitize/sanitize.js to froala-sanitize.js?

[2017-01-26 12:38] stefanneculai commented on #118
@Rahul-Giri the content of the editor should be a HTML string, it cannot be dynamic.

[2017-01-26 12:38] #118 closed

[2017-01-26 12:47] stefanneculai commented on #130
I am closing this in favor of froala/wysiwyg-editor#1715.

[2017-01-26 12:47] #130 closed

[2017-01-26 12:47] #65 closed

[2017-02-13 21:40] s00141425 commented on #122
I would like to appy 'angular-froala' with webpack 2.0.
but it looks like it doesn't work with commonjs (eg componentjs, Webpack, Browserify).

doesn't the angular-froala support requireJS yet?

angular.module('myModule', [require('froala'));

[2017-02-13 21:41] s00141425 opened #133 "doesn the 'angular-froala' support requireJS?"
I would like to appy 'angular-froala' with webpack 2.0.
but it doesn't looks like it work with commonjs (eg componentjs, Webpack, Browserify).

does the 'angular-froala' support commonJS?

like, angular.module('myModule', [require('froala'));

[2017-02-24 20:34] sneakersgames commented on #30
It's really confusing! Please update the readme.

[2017-03-06 18:40] bernardocs opened #134 "element.froalaEditor is not a function"
Hey guys... 😄

I've searched in every corner for a solution for the `element.froalaEditor is not a function` problem... found a bunch of similar situations but most of then did not included webpack.

For context, we're using Angular + Webpack 2 with Babel.
We used npm to install the package. Should we, I don't know, somehow include the `froala-editor` package before everything or something? Becaus

[2017-03-17 18:19] klipmaniac opened #135 "Froala 2.5.1"
When will the 2.5.1 release be available to pull? Thanks.

[2017-03-17 18:25] stefanneculai commented on #135
It should be now.

[2017-03-17 18:25] #135 closed

[2017-03-17 19:11] klipmaniac commented on #135
Thank you!

Thank you,
Chris

________________________________
From: Stefan Neculai <notifications@github.com>
Sent: Friday, March 17, 2017 2:25 PM
To: froala/angular-froala
Cc: klipmaniac; Author
Subject: Re: [froala/angular-froala] Froala 2.5.1 (#135)

It should be now.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/f

[2017-03-20 16:53] gsahni opened #136 "RangeError: Maximum call stack size exceeded"
element.bind('$destroy', function () {
   element.off(ctrl.listeningEvents.join(" "));
   element.froalaEditor('destroy') // this line
   element = null;
 });

This is the code snippet taken from angular-froala.js file. The above mentioned line is throwing the
RangeError: Maximum call stack size exceeded
    at String.replace (<anonymous>)  error for me. I am froala editor in semantic ui modal. On

[2017-03-22 08:09] #136 closed

[2017-03-31 09:58] stefanneculai commented on #134
@bernardocs most likely you are not including the editor JS files.

[2017-03-31 09:58] #134 closed

[2017-04-15 19:21] jnhansen opened #137 "bind to plain text when using Froala's editInPopup"
Is it possible to bind the angular model to plain text rather than HTML when using the Froala option 'editInPopup: true'?

[2017-04-17 12:18] svinesh3691 commented on #133
+1

[2017-04-19 16:24] tfernandescunha opened #138 "I can user in my project without a licence?"
I can user in my project without a licence?

[2017-04-19 16:26] stefanneculai commented on #138
No, in order to use the editor you would have to purchase a license.

[2017-04-19 16:26] #138 closed

[2017-05-09 19:55] summit2020 opened #139 "Unable to bind html data to froala ng-modal"
Instead of displaying html on editor, i get html as plain text on it.

What's the problem here ?

![capture](https://cloud.githubusercontent.com/assets/8147758/25869850/8ec4911a-351f-11e7-8c5a-51fa73e534fb.PNG)

Remark: Angular Js Version - 1.0.8

[2017-05-16 11:43] TonySawyer opened #140 "Does Froala support Angular 4?"
We'd like to update our Angular 2 project to Angular 4, but we have had some problems with the Froala text editor.  Does Froala support Angular 4 yet?

[2017-05-16 11:50] stefanneculai commented on #140
@TonySawyer see: https://github.com/froala/angular2-froala-wysiwyg.

[2017-05-16 11:50] #140 closed

[2017-05-16 11:50] stefanneculai commented on #139
It looks like the HTML you're putting there is not being marked as safe and that's why it gets escaped.

[2017-05-16 11:50] #139 closed

[2017-06-07 10:17] sandeep-purma opened #141 "Unable to upload images to own server"
we are using "angular-froala": "2.3.1" ,
and Getting the following error  for imageUpload

" **XMLHttpRequest cannot load http://localhost:8080/talent-wagon/api/v0/media?mediafor=statement&id=1. Response to preflight request doesn't pass access control check: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'i

[2017-06-07 14:23] clluiz opened #142 "How to change language"
There is a option to chang de language?

[2017-06-07 14:41] youssefsharief commented on #140
It is not working with me with Angular 4

[2017-06-07 16:19] stefanneculai commented on #140
@youssefsharief could you please let us know integration are you using?
https://github.com/froala/angular2-froala-wysiwyg#integration

[2017-06-08 12:18] youssefsharief commented on #140
It had issues that keep reappearing when using Angular4 and yarn. npm
install solves it
Thank you

On Wed, Jun 7, 2017 at 6:19 PM, Stefan Neculai <notifications@github.com>
wrote:

--
Best Regards,
Youssef Sharief

[2017-07-05 01:24] bboyle opened #143 "froala 2.6.2 update"
just registering my interest in testing out froala 2.6.2 with the angularjs plugin
https://github.com/froala/wysiwyg-editor/releases

[2017-07-05 06:41] VampireDaniel opened #144 "youtube embed video works wrong in Froala editor"
<div style="" [froalaModel]="livestreamURL"></div>
when you set youtube embed video into livestreamURL, the html in frontend will render a span tag with 'class="fr-video fr-fvc fr-dvi fr-draggable"'. this will lead to some unexpected user experience.

![image](https://user-images.githubusercontent.com/12490709/27852188-b1b068fa-6190-11e7-8d07-16ed73c20b68.png)

but if set facebook embed video, the

[2017-07-05 11:46] #144 closed

[2017-07-05 13:56] stefanneculai commented on #143
You can easily update the editor at anytime by running: `npm update froala-editor`. The Angular plugin doesn't have to be updated separately.

[2017-07-05 13:56] #143 closed

[2017-07-10 08:06] RHinderiks opened #145 "Different result when adding a <br /> on windows and osx"
##### Expected behavior.
When adding a br tag through code i expect this to add an empty row on both windows and MacOS

##### Actual behavior.
On windows it seems to wrap the br tag in a p tag and also it seems to render it differently.

##### Steps to reproduce the problem.
Add a piece of text, than press a button or something to programmatically add an br tag and a piece of text to the editor. T

[2017-07-10 09:18] stefanneculai commented on #145
@RHinderiks could you please let us know the exact steps to reproduce this? Also, are you able to reproduce it here: https://www.froala.com/wysiwyg-editor/examples/enter?

[2017-07-10 09:33] RHinderiks commented on #145
I am not able to reproduce it since that example doesn't use any angular. I'm not quite sure how to achieve the same effect (Adding text to an editor). Because of the 2 way binding in angular its quite simple.

The exact steps are as follows:
1. type a piece of text in the editor
2. Somehow add a <br /> and a bit of text to the already present text. (in our system this happens when i open the mess

[2017-07-10 14:03] klipmaniac opened #146 "Can you please create 2.6.2 release , Thank you!"

[2017-07-11 11:20] stefanneculai commented on #145
We couldn't reproduce it on a blank application. @RHinderiks could you make a Plunker for it?

[2017-07-11 11:23] stefanneculai commented on #146
@klipmaniac it is no longer necessary to make a separate release here when the editor is updated. You can update separately the `froala-editor` dependency by running: `npm update froala-editor`.

[2017-07-11 11:23] #146 closed

[2017-07-11 11:44] RHinderiks commented on #145
@stefanneculai i'll see if i can reproduce it. I am quite busy at the moment so it may take a while.

[2017-07-11 13:26] jose-douglas-ramirez commented on #146
Hi @stefanneculai

The lastest release of the editor is:
![image](https://user-images.githubusercontent.com/22900723/28070315-10c1f84c-6612-11e7-9796-a452249bce8a.png)

An the lastest release of the directive is:
![image](https://user-images.githubusercontent.com/22900723/28070362-3b9c5314-6612-11e7-862f-8927b1c6995a.png)

Our question is can we use the versiion 2.61 of the directive with the vers

[2017-07-11 13:29] stefanneculai commented on #146
Yes, that is right.

[2017-07-11 13:36] jose-douglas-ramirez commented on #146
ok, this is our bower json

![image](https://user-images.githubusercontent.com/22900723/28070885-069864b2-6614-11e7-8ea8-c006dde0acdd.png)

How we could indicate the version of the editor? Thanks in advance

[2017-07-11 13:40] stefanneculai commented on #146
The `froala-editor` dependency for `angular-froala` plugin is set here: https://github.com/froala/angular-froala/blob/master/bower.json#L33. If you're using bower, all you should do is to run `bower install froala-wysiwyg-editor`. This should install the version 2.6.2.

[2017-07-11 13:47] jose-douglas-ramirez commented on #146
thanks @stefanneculai only for confirm our bower json now looks  like, is this correct?:

![image](https://user-images.githubusercontent.com/22900723/28071449-93f97c28-6615-11e7-838c-0c3389444c46.png)

[2017-07-11 13:48] stefanneculai commented on #146
Yes, that is correct. 👍

[2017-07-11 14:34] klipmaniac commented on #146
Stefan thank you for your help on this, I guess I didnt realize till now that you work for froala, I emailed you about the Edge bug when pasting a table in the editor via Edge browser I just get the content not the actual table.. I updated now to 2.6.2, you sent me a link to 2.6.2 via email of this fix? Im not sure how to fix this issue, I update to 2.6.2 and still have it.

Thank you.

[2017-07-11 14:45] klipmaniac commented on #146
I mean if you go to your editor on your page (https://www.froala.com/wysiwyg-editor/) and copy paste from word using the Edge browser you will see the same issue we are seeing...

[2017-07-11 14:58] klipmaniac commented on #146
plunker not working either with word copy paste via Edge ....
https://plnkr.co/edit/WxAw15Dt6xcwSYH8ixke?p=preview

[2017-07-12 08:41] stefanneculai commented on #145
OK. Thanks.

[2017-07-12 08:44] stefanneculai commented on #146
@klipmaniac the fix is in V2.6.3 which is still under development and is not released yet. To try it, you could do the following: `bower install --save froala-wysiwyg-editor#master`. This should use the master branch from Github which is not released yet.

[2017-07-30 14:50] lagmanzaza opened #147 "the editor has two toolbars when i click to edit . How to fix it"
![88888](https://user-images.githubusercontent.com/5283709/28754525-22f656ca-7571-11e7-83b9-f8c09a26bed2.PNG)

[2017-07-30 14:51] #147 closed

[2017-08-03 20:21] albertosubero opened #148 "Cannot read property 'POPUP_TEMPLATES' of undefined"
image.min.js:7 Uncaught TypeError: Cannot read property 'POPUP_TEMPLATES' of undefined
    at image.min.js:7
    at image.min.js:7
    at image.min.js:7

[2017-08-04 09:25] stefanneculai commented on #148
@albertosubero please make sure you include the editor main JS file before the image plugin.

[2017-08-04 09:25] #148 closed

[2017-08-04 09:28] stefanneculai commented on #142
@clluiz yes, you should set the language via the language option:
https://github.com/froala/angular-froala#options
https://www.froala.com/wysiwyg-editor/languages

[2017-08-04 09:28] #142 closed

[2017-08-04 09:29] stefanneculai commented on #141
@sandeep-purma that is because on the remote server where you're uploading the image, you should enable CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS.

[2017-08-04 09:29] stefanneculai commented on #141
@sandeep-purma that is because on the remote server where you're uploading the image, you should enable CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS.

[2017-08-04 09:29] #141 closed

[2017-08-04 09:30] stefanneculai commented on #137
@jnhansen the editor is designed to output HTML. If you need plain text output, then it is best to strip the HTML out by using a Regular Expression.

[2017-08-04 09:30] #137 closed

[2017-08-22 09:49] SashaMihalache opened #149 "ng-model keeps tags from Scayt Spellchecker"
![moraru](https://user-images.githubusercontent.com/7697631/29559450-d37bc49e-8737-11e7-9916-c25c1154ffef.jpg)

`<p fr-original-style="box-sizing: border-box; margin: 0px 0px 10.5px; font-size: 14px;" style="box-sizing: border-box; margin: 0px 0px 10.5px; font-size: 14px;"><span data-scayt-lang="en_US" data-scayt-word="Lorem" fr-original-class="scayt-misspell-word" style="box-sizing: border-box;">

[2017-08-22 10:41] stefanneculai commented on #149
@SashaMihalache please make sure you are using the latest editor version 2.6.5.
https://github.com/froala/angular-froala#update-editor

[2017-08-22 10:41] #149 closed

[2017-08-25 09:08] liu87 opened #150 "Can't set ng-model parameter to NULL normally"
Environment: AngularJS 1.5.8, froala-editor  2.6.4, angular-froala latest version

1、try to set parameter to NULL by a button click, it's worked;
2、bind the step1's parameter to froala as ng-model; // `{"contents":"<h1>Hello World</h1>"}`
3、click button once, parameter changed but remain something; // `{"contents":""}`
4、click button again, parameter finally comes to NULL; // NULL

Code
----------

[2017-08-31 15:40] StefanNeuser opened #151 "editor.events.add within plugin init not working"
Hi, i'm checking out froala editor on my local machine to figure out if the editor fits in our needs.

The console.log(editor) is working but the next lines are not working
[code]
Error in Console:
[code]

I guess this is something special within the vuejs froala plugin.

[2017-08-31 16:12] stefanneculai commented on #151
This repo is for the Angular plugin, not for the Vue one. The Vue one is on https://github.com/froala/vue-froala-wysiwyg.

[2017-08-31 16:12] #151 closed

[2017-09-01 08:21] samhsuqld commented on #145
I was experiencing a similar issue: if you're using the default `enter` setting, the HTML you add must start and end with a paragraph tag, or Froala will wrap the HTML you add in a paragraph tag automatically.

You can reproduce this without using Angular by using the code-view plugin. Hope this helps.

[2017-09-01 09:08] stefanneculai commented on #145
@samhsuqld could you please send the HTML you're using for this?

[2017-09-03 23:33] samhsuqld commented on #145
See this [plunker](http://plnkr.co/edit/Ebt2o0ch6HNbJSOLLRmN?p=preview) for a basic reproduction.

[2017-09-04 08:23] stefanneculai commented on #145
@samhsuqld this is the editor default behavior. When using the default options, new lines are automatically being wrapper with a P tag. If you want to disable it, then you should change `enter` option to `$.FroalaEditor.ENTER_BR`. https://www.froala.com/wysiwyg-editor/examples/enter

[2017-09-05 04:37] gopinadh39 opened #152 "How to install angular-froala as bower component"
I've try to install it as bower component, it installed well but i try to add dependency in app.js as 'froala' but it shows err, how can i resolve this issue.

[2017-10-02 13:23] Khrystyna commented on #152
Running `bower install angular-froala` did a trick. `froala-wysiwyg-editor` is in dependencies, so it will be installed along.

[2017-10-05 16:00] #152 closed

[2017-10-10 14:40] Khrystyna commented on #142
@stefanneculai  I am passing the language code as an option, but it still doesn't work. Can it be that locale files are not included into build version?

[2017-10-10 15:11] 6matko opened #153 "Working with multiple instances"
_I ran into a problem where I need your help._

I have a button that enables Edit mode on/off and I broadcast it:
```this.$rootScope.$broadcast('editModeChanged', this.editMode);```
Also I have different inputs across my view that use the same settings/options, for example:
[code]
So far I can achieve this by using:
[code]

But I can manage only the last initialized instance. If I turn off edit mo

[2017-10-11 13:48] Mkey85 commented on #19
Any updates here?

[2017-10-12 11:38] stefanneculai commented on #142
@Khrystyna you should include the language files separately, they are not included in the package by default.

[2017-10-15 15:27] RHinderiks opened #154 "Some froala options not visible within 2 bootstrap modals"
When using bootstrap 3 modal it seems to stop working when opening a modal on top of a other modal.

Tested on MacOs with latest safari and latest chrome versions.

The following don't seem to work. color, table, hyperlink. However headers seem to be working fine

It works fine within a single modal. Example:

<img width="1049" alt="screen shot 2017-10-15 at 17 25 42" src="https://user-images.gith

[2017-10-16 09:18] RHinderiks commented on #154
The problem is a inline styling being set when the option toolbarInline is set to true, It sets a z-index 5 with inline styling. this also makes it impossible to override our selves !

[2017-10-16 13:26] stefanneculai commented on #154
@RHinderiks when using the bootstrap modal, please make sure you set the editor zIndex option to a higher value. There is a demo here: https://github.com/froala/wysiwyg-editor/blob/master/html/3rd-party/bootstrap/modal.html.

[2017-10-16 13:26] #154 closed

[2017-10-19 08:42] RHinderiks opened #155 "Weird behaviour in ios 11"
Using ios 11 on an ipad results in weird behaviour even on your own website mostly the inline editor demo. It loses focus after the first enter and in our own application we find that in combination with bootstrap 3 modals and the ipad in landscape mode we can press on a line but will trigger an element not even within the froala editor.

os: ios 11
position: landscape
version: froala 2.7.0
depend

[2017-10-19 19:09] stefanneculai commented on #155
@RHinderiks could you please provide the exact steps to reproduce the issue? Thanks.

[2017-10-20 06:21] RHinderiks commented on #155
Turn the ipad in landscape mode, when selecting a row to type it works fine but when pressing the return key it seems to unfocus. This is on your own website.

[2017-10-24 13:38] RHinderiks commented on #155
@stefanneculai any news on this issue ?

[2017-11-07 13:16] kavare opened #156 "element.froalaEditor not defined in link function"
## Description
When includes angular-froala in a tool-agnostic build process, it fails to be initiated.
[code]

## Background
We built a uikit which include froala-editor as a component. It works fine when serve locally, but failed when we used webpack to build it and import from other projects.

The main reason behind is that in the source file, the link function of `froala` directive assume the

[2017-11-07 16:09] ahmadassaf commented on #156
I've been having this as well .. i have not tried your PR yet .. but will see if this can fix it for me

[2017-11-07 21:42] stefanneculai commented on #156
@ahmadassaf it would be amazing to get your feedback about this.

[2017-11-07 22:35] ahmadassaf commented on #156
@stefanneculai i confirm @kavare PR fixed the issue for me 👍

[2017-11-08 10:38] kavare commented on #156
@stefanneculai Thank you for approving the PR. Please let me know when it is published in NPM as well. :)

[2017-11-11 14:46] ahmadassaf opened #158 "Using a licenses Froala inside in Iframe in a Chrome Extension"
Hello,

We have purhcased a Business License for Froala and are using it with Angular inside of an app that is loaded within an iFrame as a Chrome Extension. My understanding is that the license is loaded and checked against domain names, however as a technical requirement the source of the chrome extension is not set to a specific domain but rather to a URI relative to the chrome extension locati

[2017-11-13 11:54] stefanneculai commented on #156
@kavare it will be published during this week.

[2017-11-13 12:01] stefanneculai commented on #158
@ahmadassaf please reach us via our website and our support team will assist you with it: https://www.froala.com/wysiwyg-editor/contact.

[2017-11-13 12:01] #158 closed

[2017-11-20 15:59] kavare commented on #156
@stefanneculai I can see the version update on github but still not being published on npm yet. It's currently blocking us so would really appreciate it if we can facilitate this.

[2017-11-23 16:14] FWennerdahl opened #159 "Editor not focused when init on click"
##### Expected behavior.
When using the initOnClick functionality, the editor should gain focus when clicked like it does when not using AngularJS.

##### Actual behavior.
When using the angular-froala bindings, the editor does not get focused when initializing on click.

##### Steps to reproduce the problem.
JSFiddle angular-froala: https://jsfiddle.net/Lty2xz7e/
JSFiddle vanilla Froala: https://

[2017-11-24 14:22] stefanneculai commented on #159
It appears to be an issue on the Angular implementation, not related to #2283.

[2017-11-27 06:53] 18859231605 opened #160 "element.editable is not a function"
这个问题怎么解决啊？

[2017-12-13 03:25] Aminejohda opened #161 "wysiwyg display is abnormal"
![screenshot_20171213-041727](https://user-images.githubusercontent.com/24367628/33920308-8fdb3e5c-dfbd-11e7-895d-0b25b293ed91.png)

[2017-12-15 03:03] GoGross opened #162 "license options"
Can I still use the editor after my one year license has expired?

[2017-12-22 13:11] shahilg opened #163 "Display text instead of icon in custom dropdown"
Hi,

I have added the custom dropdown to the editor and want to show the text instead of icon in the toolbar for the custom drop-down. Looking forward to it.

Thanks.

[2018-01-04 09:19] agabhane opened #164 "angular-froala does not show content before click when initOnClick set to true"
I am using `angular-froala` with angular 1.5.x and came across the below issue.

I am initializing froala with `initOnClick `as `true`.
The problem is, it is not showing content before clicking.
If my variable given to `ng-model` is not empty then it should display the content and not placeholder.
Please find attached [punker](https://embed.plnkr.co/sWt9gy30rwOEulgPnQxS/)

**Example:**
If  `$scope

[2018-01-08 16:31] stefanneculai commented on #163
For that please use the `html` property: https://www.froala.com/wysiwyg-editor/docs/concepts/custom/dropdown.

[2018-01-08 16:31] #163 closed

[2018-01-09 10:58] shahilg commented on #163
@stefanneculai
Thanks for your inputs. I tried that but it helps me to do the customization with HTML in the option. I just want to show the dropdown in the toolbar with text and not the icon.

[2018-01-10 10:33] Eblax commented on #159
I have the same issue.
Also when I set focus manually with `$('selector').froalaEditor('events.focus');` the editor does get focus, but the `froalaEditor.focus` event is not triggered. This could explain why the `froalaEditor.blur` event is also not triggered once I click outside the editor.

[2018-01-25 10:01] FWennerdahl commented on #164
We're also affected by this issue and it's preventing us from using Froala in production.

Just to make sure that this was an issue in angular-froala we created a jsfiddle using Froala without angular, where the issue is not reproducible: https://jsfiddle.net/a9h6kpy0/

[2018-02-01 14:15] mabuonomo opened #165 "Problem registering a command"
Hi, I have some problem with create a dommand

This is my code

`<textarea froala froala-init="myControllerFunction(initControls)" class="form-control no-resize auto-growth" name="description" id="description" ng-model="$parent.model.description"></textarea>`

[code]

The error is:

editor is not undefined

Thanks

[2018-02-05 09:15] ditproz opened #166 "Froala, Unlicensed"
My company has purchased a fully fledged license, but we still get the little red block in the bottom left which says Unlicensed Froala.  Any ideas?

[2018-02-05 10:57] ditproz commented on #166
Also, we do insert the license number into the configuration...
[code]

[2018-02-05 13:20] stefanneculai commented on #166
@ditproz please contact us via [the support form](https://www.froala.com/wysiwyg-editor/contact) and our support team will help you with this matter. Thanks.

[2018-02-05 13:20] #166 closed

[2018-02-05 13:24] ditproz commented on #166
I did contact you via the support form and never received an email back.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Stefan Neculai<mailto:notifications@github.com>
Sent: 05 February 2018 13:20
To: froala/angular-froala<mailto:angular-froala@noreply.github.com>
Cc: Daniel C<mailto:dan@itproz.co.uk>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [

[2018-02-05 13:28] stefanneculai commented on #166
@ditproz could you please let me know the ticket number you got?

[2018-02-05 15:28] AlexejKutsko opened #167 "is not set focus after tap to editor(android/ios)"
I have issue.
Cordova. I use ionic(version 1). When I tap to editor focus is not set in android and ios devices.

I tried to do:
1.
[code]
2.
[code]

Cordova CLI: 8.0.0
Gulp version:  CLI version 1.2.2
Gulp local:   Local version 3.9.1
Ionic Version: 1.3.2
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
ios-deploy version: 1.9.2
ios-sim version: 5.0.11
OS: Mac OS X El Capitan
Node Version:

[2018-02-06 10:26] AlexejKutsko commented on #167
Issue solved.
I updated ionic lib to latest version(1.3.4) and focus set correct in android/ios.

[2018-02-06 10:26] #167 closed

[2018-02-07 07:06] stefanneculai commented on #162
@GoGross, yes the license is perpetual. Please see: https://wysiwyg-editor.froala.help/hc/en-us/articles/115000396145-Are-the-licenses-one-time-payment-.

[2018-02-07 07:06] #162 closed

[2018-02-07 07:08] stefanneculai commented on #165
@mabuonomo you should define the new button before initializing the editor just as described in our docs, by using $.FroalaEditor.RegisterCommand.

[2018-02-07 07:08] #165 closed

[2018-02-07 22:44] FWennerdahl opened #168 "Reinitializing editor duplicates event listeners on element"
##### Expected behavior.
When destroying and reinitializing an editor the event listeners set up in `ctrl.initListeners` should not be added again to the element.

##### Actual behavior.
The event listeners are added again, causing issues for example when the editor is located within an ng-repeat.

##### Steps to reproduce the problem.
1. Open JSFiddle at: https://jsfiddle.net/yax8pLp3/
2. Focus t

[2018-02-12 13:10] FWennerdahl opened #169 "Image upload breaks when using multiple instances and destroy on blur"
##### Expected behavior.
Image upload should work regardless of using one or multiple editor instances and using destroy on blur to reinitialize the editor.

##### Actual behavior.
When using multiple instances and destroying the editor on blur, image upload fails when uploading images in more than one editor instance.

The following error is logged twice in the dev console:
[code]

Subsequent upl

[2018-02-17 16:19] mehdi-desu opened #170 "Refused to apply style from <URL> because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled angular"
i got the following issue after installing froala on my angular app.
![froala](https://user-images.githubusercontent.com/28492816/36342932-504d4196-13ba-11e8-9d08-2a1b61f930c5.PNG)

it's not applying the style for some reason :
![froalastyle](https://user-images.githubusercontent.com/28492816/36342987-e92b73c4-13ba-11e8-8b2c-940244383ead.PNG)
any ideas please ?

[2018-03-01 13:50] stefanneculai commented on #168
@FWennerdahl unfortunately, we do not support using the editor inside ng-repeat. The problem is coming from the fact that when the render action happens, the old editor instance is not being destroyed but just removed from the DOM.

[2018-03-01 13:50] #168 closed

[2018-03-01 14:36] stefanneculai commented on #169
@FWennerdahl somehow we cannot reproduce it. Do you think you could make a recording? Thanks in advance.

[2018-03-01 14:51] stefanneculai commented on #170
@mehdi-desu it looks like the CSS files are loaded as HTML instead of Stylesheets. It appears to be something like this: https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type.

[2018-03-01 14:51] #170 closed

[2018-03-01 20:33] FWennerdahl commented on #169
You're right that this does not seem to happen every time. My guess is that it's some kind of race due to upload I/O.
![upload-image-bug](https://user-images.githubusercontent.com/3178426/36868289-36c11eb8-1d98-11e8-940e-7603d01751c4.gif)

[2018-03-01 20:48] FWennerdahl commented on #168
I'm sorry, but this doesn't seem to be accurate. At https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L150 in the $destroy-handler the editor is destroyed. Placing a breakpoint directly after it in the JSFiddle above shows that the editor has been destroyed and the underlying textarea is shown instead.

The issue is seems rather that event listeners are being added anew to

[2018-03-02 19:12] stefanneculai commented on #169
@FWennerdahl I believe somehow when you're initializing the editor again it hasn't finished the destroy phase. I would recommend adding a bit of timeout between the destruction and the new initialization phase. Something like 20ms.

[2018-03-02 19:12] #169 closed

[2018-03-02 19:18] stefanneculai commented on #168
@FWennerdahl sorry, I was wrong. What it appears to be happening is that the destroy event is triggered twice: once internally by the ng-repeat and then again by the blur event. I think there should be something like this: https://jsfiddle.net/yax8pLp3/2/.

[2018-03-02 19:48] #164 closed

[2018-03-02 21:13] #159 closed

[2018-03-02 21:14] stefanneculai commented on #160
It looks you're using the V1 of the editor. Please upgrade to V2.

[2018-03-02 21:14] #160 closed

[2018-03-02 21:14] #156 closed

[2018-03-02 21:15] stefanneculai commented on #161
@Aminejohda it looks like the CSS style files aren't loaded correctly.

[2018-03-02 21:15] #161 closed

[2018-03-02 21:15] #145 closed

[2018-03-02 21:16] stefanneculai commented on #150
@liu87 do you think you could make a Plunker so that we can easily look into it?

[2018-03-02 21:17] stefanneculai commented on #153
@6matko I would recommend using the manual initialization so that you can have full control over the editor instances: https://github.com/froala/angular-froala#manual-instantiation.

[2018-03-02 21:17] #153 closed

[2018-03-02 21:19] stefanneculai commented on #155
@RHinderiks could you try version 2.7.5 and let us know if you still have this problem? Thank you.

[2018-03-02 21:19] #155 closed

[2018-03-03 13:07] FWennerdahl commented on #168
There's a difference between the `$destroy` event (called by AngularJS when the Angular $scope for the directive is destroyed) and the call to `initControls.destroy` (which is called in the blur event handler and destroys the actual Froala editor instance).

It's not the initControls.destroy that is called twice, rather the angular $destroy handler, since when reinitializing the editor the same $d

[2018-03-03 13:17] FWennerdahl commented on #164
@stefanneculai: The issue is that the `'froalaEditor.initialized'` isn't fired when using `initOnClick: true` until the editor has been clicked. 01bcc7d669eb2e9dc8f1ea2142ce671604762d4b doesn't fix this as `flushNgModel()` still won't be executed until this event has fired.

Also, when it does `ctrl.initialized`will be set to `true` anyway so the added line won't be executed.

Please re-consider #

[2018-03-03 13:36] FWennerdahl commented on #169
Tested a 20ms timout in the JSFiddle and I still reproduced the issue on the first try. This doesn't seem like a reliable solution.

One thing that occurred to me though: does the editor have to fire the blur event when uploading an image? From a user perspective you're still using the editor so it shouldn't have lost focus, and if using destroy on blur like we are, disabling the blur event when u

[2018-03-03 14:38] FWennerdahl commented on #164
Fix seems to work. Thanks!

[2018-03-03 14:39] FWennerdahl commented on #159
Tested and works. Thanks!

[2018-03-03 16:34] stefanneculai commented on #164
It should be fixed on the current master. Could you please check?

[2018-03-03 17:02] FWennerdahl commented on #164
Yes, I noticed the other changes in e124ecfd2afdde6707dda2aa34990ee0d107ddce after I posted the message. Tested and it's working 👍

[2018-03-05 19:55] FWennerdahl commented on #169
@stefanneculai Any news on this? You mentioned in mail that this was an issue in the Froala editor rather than the Angular implementation and that it would be fixed in 2.7.6 when it is released, is this still the case?

Also, the workaround you mentioned there, adding a unique `_id` to each editor instance, only partially worked. When pasting content from example from Google Docs with more than on

[2018-03-07 11:22] kp-thibaut opened #172 "XSS Vulnerability"
The `ngModel.$isEmpty` function bypass the native froala security cleaning method, by executing the content of value with the `JQuery` function.

In my case, I just reuse the froala native html.clean method to fix it.

Like this:
[code]

Example of XSS injection concerned:
`Script URI scheme XSS test<img src="javascript:alert('XSS')">`

[2018-03-07 11:23] stefanneculai commented on #172
@kp-thibaut do you think you could make a PR?

[2018-03-07 12:34] kp-thibaut commented on #172
yup, but I will make more tests before.

[2018-03-07 15:39] kp-thibaut commented on #172
@stefanneculai I'm ready to push my branch, but I haven't the right to do this.
BTW, I have fixed some lint issues to and all your tests are down due to new JQuery version (3.3.1) by the froala dependencies.

AS the change is not invasive, I push it without testing it via grunt. I've made some tests by my side.

[2018-03-07 15:41] stefanneculai commented on #172
@kp-thibaut please make a PR: https://help.github.com/articles/creating-a-pull-request-from-a-fork/.

[2018-03-07 17:17] kp-thibaut commented on #172
@stefanneculai it's done.

[2018-03-08 17:09] stefanneculai commented on #172
Thanks. We're going to review it shortly and merge it.

[2018-03-28 11:42] EmielH opened #174 "ng-model-options updateOn blur not working"
When `ng-model-options` is not specified, the default behaviour appears to be that the model is updated immediately on blur. When we add ng-model-options to increase the default debounce duration, like so:

`ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 3000, 'blur': 0 }}"`

the model is not updated on blur anymore. It only is updated after three seconds when the default upd

[2018-03-29 13:25] kp-thibaut commented on #172
@stefanneculai any news ?

[2018-03-30 02:42] craigpearson commented on #170
As this shows up a lot in Google Search results I thought I'd share that in similar projects this appears to be due to the inclusion of HBP5 directives for Nginx.

If the extra security file below is included, then stylesheets being served through proxies such as webpack will fail to load due to CSP. See the notes on Line 17 below

https://github.com/h5bp/server-configs-nginx/blob/master/h5bp/dire

[2018-03-31 03:00] momadthenomad commented on #26
Has this been fixed in the latest froala v2.7.6 release?

[2018-04-03 11:15] wmai commented on #133
+1

[2018-04-16 16:35] NikolaiYurchenko commented on #170
ya loh

[2018-04-24 06:36] Jeeva-Rathinam commented on #170
@mehdi-desu did you solve your issue?

[2018-04-25 11:18] khlinkedselling commented on #163
Hi @stefanneculai can you please post your toolbar configuration here? I'm trying to display the custom drop-down text instead of the icon and can't seem to get it working.

[2018-04-26 06:43] alanducnguyen commented on #170
I had the same issue in PHP. Then i solved it after changing the permission of the directory to 755 to allow the file has the access right.

[2018-04-26 11:51] jschendzielorz opened #176 "scope.froalaOptions is undefined"
I created a own directive wrapping a textarea with the frola attribute. In my directive i defined some options
`
scope.options = {
  placeholderText: $attr.placeholder,
  toobarButtons: [
    'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough',
    'paragraphFormat', 'formatOL', 'formatUL', 'quote',
     'insertLink','|', 'undo', 'redo',
  ],
};
`
and pass them to the frola directive like

[2018-05-02 02:03] amrsalem87 commented on #170
Having same issue
Refused to apply style from...styles.f4fb5cb8ad4ea5bce7fb.bundle.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.

[2018-05-02 20:52] connect2amitu commented on #170
Apply this base tag **<base href="/">**
after title tag in index.html

[2018-05-02 20:54] connect2amitu commented on #170
![image](https://user-images.githubusercontent.com/36689910/39548702-052c262e-4e79-11e8-8c4d-5fa9ec08a22f.png)

[2018-05-03 10:02] bravility opened #177 "Module 'froala' is not available!"
since I run `bower install froala-wysiwyg-editor --save`

1.Add the froala dependency to my Angular project. example:
`angular.module('myApp', ['froala'])`
2.Create a textarea with the froala directive in my view and give it a model, where myHtml is a variable on $scope.
`<textarea froala ng-model="myHtml"></textarea>`

It throw some error：

Did I miss some code？

[2018-05-03 10:05] bravility commented on #177
I am sure that js has include and they in the right order。
![image](https://user-images.githubusercontent.com/6559992/39570906-616862e4-4efc-11e8-8a35-6be1d3a2b722.png)
![image](https://user-images.githubusercontent.com/6559992/39570936-739cf420-4efc-11e8-8825-40c9461011a4.png)

[2018-05-06 09:58] dharmmaurya563 commented on #170
http://prntscr.com/jecsmv

[2018-05-10 18:40] momadthenomad commented on #26
@cgallarno we've also run into this issue and used @julian-iFactory's fix but we don't see the fix in the current release of froala v2.8.1. Am I missing something?

[2018-05-11 18:01] hgsigner commented on #170
@connect2amitu you saved my day here :) I was having this problem with react and react router running with webpack-dev-server and `<base href="/">` does the trick.

[2018-05-13 18:03] mart1n8891 commented on #170
Depending on which angular/webpack version you use:
Have you tried setting "styles" and "scripts" in the .angular-cli.json (or angular.json for angular 6+) instead of the index.html file? E.g. "styles": [ "node_modules/.../...css", "..." ], "scripts": [ "node_modules/.../...js", "..."], ...

[2018-05-14 17:14] vanoMekantsishvili commented on #170
@connect2amitu <base href="/"> this trick actually works for me too but can you explain how this thing works? thank you : )

[2018-05-16 05:28] DaoFof commented on #170
@connect2amitu  it doesn't work for me

[2018-05-17 02:48] claudz1 commented on #170
@connect2amitu this trick worked ,thanks a lot!

[2018-05-19 11:26] frempongandrews commented on #170
<base href="/">
Worked for me, thanks!!

[2018-05-23 04:00] krasicji commented on #170
I think the root cause of the issue is that the minified css has comments in them. Check out https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type

[2018-05-24 21:14] atinyakov commented on #170
minified css does not contain comments.

I have faced the issue as well, in my case, the css file was missing, but defined in HTML

[2018-06-01 07:43] juliancarrivick opened #178 "Support AngularJS 1.7"
See breaking changes here: https://github.com/angular/angular.js/blob/master/CHANGELOG.md

Using in our own project, I've only noticed an issue with `froala-sanitize.js` using `angular.lowercase` which has been removed.

[2018-06-11 13:58] sudiptosen commented on #170
I do not think that the content of the `css` matters. For example, in my `index.html`, I tried replacing the Material Icons css with a local version as follows:

`

  <link rel="stylesheet" type="text/css" href="google_material.css">
`
I get the same error when the `google_material.css` is blank!

[2018-06-18 14:25] ktracey opened #180 "Open in new tab not working"
'Open in new tab'
Save and test the link, opens in same tab
Edit link and box is unchecked.

This appears to work with the native froala editor... but is not working within the angular component.. This is a problem in 2.8.0..Works in 2.7.6

[2018-06-19 04:01] arduino731 commented on #170
I was using Node npm module on my project without angular frameworks. I m using Embedded JavaScript templates (EJS). I added new folders and it keeps showing error loaded of CSS style and js files, so I have decided to put into head.html
`<base href="/"`
Those are solved problems. thank you!

[2018-06-21 05:28] dbakshi commented on #19
Hi, i used froala editor in my project. It worked fine on my local. Now when i saw it on my live site server, it is throwing this error. "Unlicenced copy of froala editor. Use it legally by purchasing a licence. " How to fix it, as then it should have thrown same error in my local machine. Now that i used it ,invested a lot of time in it. Now after few days checking on server, it is creating issue

[2018-06-22 13:48] mthomasson opened #181 "Exactly the same error than in Angular-froala-WYSIWYG html.set is not a function"
See
https://github.com/froala/angular-froala-wysiwyg/issues/206
We have exactly the same error in the Angular 1 version.

[2018-06-22 14:18] mthomasson commented on #181
This commit https://github.com/mthomasson/angular-froala/commit/0930ae307322e8c276a398888c6327c094dc6723
solves it

[2018-06-22 16:14] jacobcsmith commented on #181
We're also experiencing this issue

[2018-06-23 09:45] #181 closed

[2018-06-25 09:22] palich12 opened #182 "CodeMiror not update model"
When Froala work in code view state, model update only after return to main state. So, it's problem, for example,  when user click "save" or "send" in code view state.

[2018-06-25 13:22] mthomasson commented on #177
@bravility
You should try to install angular-froala :)

[2018-06-29 13:37] kp-thibaut commented on #172
@stefanneculai, I follow your advancement but I haven't seen any change for the XSS Vulnerabilities.

I'm pretty concerned by this issue, as froala is deploy on all my customers. Security is one of my main priority. And you still have a huge vulnerability for **ALL** XSS attacks.

The fix I propose and present on my PR is in production for 4 month on every of my customer.

Can you reply to me with

[2018-06-29 17:02] 3nraged commented on #170
Having the same issue currently.

[2018-06-29 17:30] petarblazevski commented on #181
@stefanneculai when you install the package with `npm` it installs the latest version `2.8.4` with the  issue fixed. But if you install the package with `bower` you are still getting `2.8.3`. Looking at the Release in GitHub, the latest release is flagged as `2.8.3`. Maybe this is the issue with `bower`?

[2018-06-30 06:44] SuyogABankar commented on #170
i have same issue .i have tried this much but still img is not getting load.what should i do?

                  <img src="/suyog.jpg" alt="suyog" class="img-fluid">

[2018-06-30 06:44] SuyogABankar commented on #170
i have saved photo in c folder.how to give path?

[2018-07-03 03:05] DallanQ commented on #181
@petarblazevski I believe the problem is bower relies upon the github "release" tags, and there isn't a release tag for 2.8.4, so we have to use the git sha instead.

[2018-07-03 07:11] TheSLX commented on #170
Not sure if this will help anyone, but if you are using angular-cli, I fixed this by removing the css reference from my index into the angular-cli.json file under the "style" portion.
After restarting my webserver I no longer had that issue.

[2018-07-04 13:33] jwhitmarsh opened #183 "Setting the key for v2.8.0 isn't working"
I'm setting my new (longer) licence key via the "key" option:

[code]

but still seeing this:
![screen shot 2018-07-04 at 14 32 17](https://user-images.githubusercontent.com/8026009/42279890-16a7bae0-7f97-11e8-963e-8b129ed25b4e.png)

Licence's are perpetual, so it hasn't expired, so I assume it's because I'm setting it wrong - how should I be setting it?

[2018-07-04 13:54] stefanneculai commented on #183
@jwhitmarsh the licenses are perpetual, you can use the version you purchased for the lifetime, however, the software updates are limited to one year. See more here: https://wysiwyg-editor.froala.help/hc/en-us/articles/115000396145-Are-the-licenses-one-time-payment-.

Please read more about the expiration message here: https://wysiwyg-editor.froala.help/hc/en-us/articles/360000717489-Why-is-my-edi

[2018-07-04 13:54] #183 closed

[2018-07-05 07:28] AshMcConnell commented on #180
We are actually seeing something slightly different.  QA are reporting it always opens in a new browser window rather than a new tab or same window

[2018-07-06 11:39] ktracey commented on #180
That is not what we seeing.. we are seeing that the value of "open in new tab" is not being retained...and it always opens in the same window..  I just tried it again with 2.8.3
![step3](https://user-images.githubusercontent.com/13381295/42377072-bacfe1a2-80ef-11e8-81a1-74dc9ea2f823.png)
![step2](https://user-images.githubusercontent.com/13381295/42377073-bad9d5cc-80ef-11e8-974e-5241df86fd7a.png)

[2018-07-06 12:15] stefanneculai commented on #180
We just checked this in version 2.8.4 and it works without problem on https://www.froala.com/wysiwyg-editor. If you still have problem you might have a custom implementation that prevents it to work correctly.

[2018-07-06 12:15] #180 closed

[2018-07-06 12:31] ktracey commented on #180
Does your example on  https://www.froala.com/wysiwyg-editor use the angular -froala?

[2018-07-06 12:32] stefanneculai commented on #180
@ktracey the angular example doesn't make any changes on the HTML. I would recommend to check the output of the following command in the browser to see what version you're using: $.FE.VERSION.

[2018-07-06 17:06] ktracey commented on #180
I figured it out.. We bundle all of our third party components.. and perform a minification on them.  For some reason this is causing an issue with this feature with the 2.8.x version of Froala (it was fine in the 2.7.x versions). I just wanted to document my findings in case others have the same issue

[2018-07-14 11:07] rameshpraja opened #184 "In Firefox, I am not able to upload image by using froala editor using angular4"
Technology : Angular4
In Firefox, When I upload images by Froala editor then its throwing some error in console. I am using Angular4
But In chrome its working fine.

I am using below mention version in my Angular4 application
Froala version : angular-froala-wysiwyg": "^2.8.4"

Error in console are :
ReferenceError: event is not defined[Learn More]
File :
export class BlobUploader{
public static op

[2018-07-16 03:33] towry opened #185 "immediateAngularModelUpdate option not work."
I have to use `froalaEditor.contentChanged` event to update the model manually.

[code]

If there is an initialized value for the model, then `froalaEditor.contentChanged` event will be triggered, so I have to use `ignoreChange` to pass it.

[2018-07-16 10:37] shankargurutarikere opened #186 "Fabric js UI component importing issues"
I have tried to use office UI component by installing them on my angular project by following the link in github

https://github.com/ngOfficeUIFabric/ng-officeuifabric

I am stuck with these errors!!!
![capture](https://user-images.githubusercontent.com/31584520/42754480-42123dc0-8912-11e8-8575-15031804ce42.PNG)

[2018-07-16 16:18] stefanneculai commented on #184
It looks like you should use `e.target` instead of `event.target`.

[2018-07-16 16:18] #184 closed

[2018-07-16 16:20] stefanneculai commented on #185
@towry do you think you could make a Plunker / jsFiddle to highlight this?

[2018-07-16 16:21] stefanneculai commented on #186
This doesn't appear to be linked to the Froala Editor, but to the way you're loading Fabric JS.

[2018-07-16 16:21] #186 closed

[2018-07-17 04:06] shankargurutarikere commented on #186
I have installed using this command

npm install ng-office-ui-fabric --save

I should have
1)/node_modules/office-ui-fabric/fabric.min.css
2) /node_modules/office-ui-fabric/fabric.components.css"

these files in my node_modules folder,but i am not having.
![capture](https://user-images.githubusercontent.com/31584520/42795965-b398e2b8-89a4-11e8-8f50-4b288581e6d3.PNG)

[2018-08-02 03:07] Rich0101 commented on #170
Adding <base href="/"> before linking the stylesheets didn't work for me, but taking the rel property of the  <link> tag did work:

<link rel="stylesheet" href="styles.css" type="text/css">     produced the error

<link href="styles.css" type="text/css">      No error

[2018-08-03 16:57] TrietPham96 opened #187 "When combined with template CoreUI angularjs, Froala editor display confused interface between Mobile and PC"
I using froala editor for template CoreUI angularjs. Display is good but the interface of froala is the same on PC or Mobile

**Mobile**

![image](https://user-images.githubusercontent.com/29618357/43654896-034833c4-9777-11e8-836b-00768c1b0b0e.png)

**PC**

![image](https://user-images.githubusercontent.com/29618357/43654911-19a9cb14-9777-11e8-9eed-6ad8326d8467.png)

**On PC when i view elements,

[2018-08-05 01:31] ovidiup13 commented on #170
@Rich0101 The error disappears but the styles are not applied unfortunately :confused:

[2018-08-06 16:31] elhendawy commented on #129
Hi,
I am facing the same issue, did you come up with a workaround.
Thanks

[2018-08-06 18:10] stefanneculai commented on #187
Not sure where the problem might come from. Could you please check that you're setting correctly all the toolbar buttons: https://www.froala.com/wysiwyg-editor/examples/toolbar-buttons?

[2018-08-06 18:10] #187 closed

[2018-08-07 16:09] TrietPham96 commented on #187
I have fixed it, froala too perfect

[2018-08-07 16:10] TrietPham96 commented on #187
Very thanks, i 've fixed it

[2018-08-07 20:00] Piligrim25 commented on #170
Just add type="text/html"
Like this <link rel="stylesheet" href="css/style.css" type="text/html">

[2018-08-08 18:19] klipmaniac opened #188 "2.8.4"
When will 2.8.4 be available?

Thank you.

[2018-08-09 00:05] keeve commented on #170
@Rich0101  your trick works for me, even with comments in my css.

@ovidiup13 debug your page in chrome, probably there's a css overriding your style.
I'm using Angular Material and I wanted to make the button's font smaller, so what I did is explicitly have css for the entire body and manipulate mat-button like this

.body-container .mat-button {
    font-size: small !important;
}

It works :)

[2018-08-09 03:11] stefanneculai commented on #188
It looks like it wasn't tagged here. Just created the release.

[2018-08-09 03:11] #188 closed

[2018-08-09 09:48] arshad115 commented on #170
@connect2amitu `<base href="/">` also didn't work for me.
@Rich0101  solution worked by removing the stylesheet property and adding `type="text/html"` in the link tag.

[2018-08-09 13:07] ulrichdohou commented on #170
Tks @connect2amitu it works fine

[2018-08-13 08:41] pathum-kalhan commented on #170
Errors and solutions are weird sometimes.
What worked for me is  keep ` rel="stylesheet"` and additionally add the `type="text/css"` also `<base href="/">` would not worked for me.

[2018-08-14 01:07] gladtobhere commented on #170
I had this same prob. My folder structure wasn't right.  Some how I created my "css" folder inside my "scripts folder".  Double check your folder structure.  Worked for me.

[2018-08-14 20:40] mgalarza commented on #178
Why don't you open a pull request for this fix?

[2018-08-15 07:54] pshoultz commented on #170
have the same error and these solutions aren't working

[2018-08-15 14:31] mgalarza commented on #178
Thanks a lot

[2018-08-15 17:08] stefanneculai commented on #178
The PR has just been merged.

[2018-08-15 17:08] #178 closed

[2018-08-17 20:53] piliugin commented on #170
In my case the problem was that webpack-dev-server returns text: "Cannot GET /dist/css/index.css".
So check that files exists.
Similar problem with js: https://github.com/webpack/webpack/issues/3027

[2018-08-30 13:21] raulra08 commented on #170
This helped me,
https://blog.angularindepth.com/this-is-how-angular-cli-webpack-delivers-your-css-styles-to-the-client-d4adf15c4975

To realise that styles.css becomes styles.js, and therefore it should be included as a script at the bottom of the body rather than at the head as a link.

[2018-09-01 12:06] wisedip commented on #170
Checking my file-Url helped me. Errors in your Url input is the main problem. Check whether you have included a static file to connect the view files to the query.
Recheck it. It took me almost 2 hours to find the Error in the Url

[2018-09-01 14:06] ming0627 commented on #170
Im using MiniCssExtractPlugin and i realized missing '**.**' will caused below issue.

from

    filename: '/style.[contenthash].css'
to

    filename: './style.[contenthash].css'

//correct way should be like this

    new MiniCssExtractPlugin({
      publicPath: './sass/',
      filename: './style.[contenthash].css'
    });

Hope this help you.

[2018-09-12 04:39] AvinashMV commented on #170
<base href="/"> solved my issue. Thanks man!

[2018-09-18 06:55] Avi308 commented on #170
@connect2amitu  Thank you :)

[2018-09-19 15:15] atakdale opened #189 "angular.lowercase replacement error"
The replacement of `angular.lowercase()` with String `toLowerCase()` in froala-sanitize.js is causing errors. The example would be line 333 where the `parseEndTag();` is called.

The parseEndTag() definition looks like this:

    function parseEndTag(tag, tagName) {
        var pos = 0, i;
        tagName = tagName.toLowerCase();
        if (tagName) {
            // Find the closest opened tag of

[2018-09-21 18:13] akshaymittal143 commented on #170
<base href="/"> worked for me as well. Thanks

[2018-09-23 16:53] shahramverb commented on #170
![image](https://user-images.githubusercontent.com/32303266/45930528-63133d80-bf59-11e8-9a58-d0043d062512.png)

adding <base href="/"> before my link tags fixed my issue hope this helps others

[2018-09-26 03:49] trungntq opened #190 "Cannot go to other state <$state.go(newState)>"
On state which contain wysiwyg-editor, I have a button which lead my app to other page (state).
`$state.go(Constants.states.searchPage);`

But I meet this error:

    at HTMLDivElement.<anonymous> (http://localhost:8000/bower_components/jquery/jquery.js:5523:12)
    at init.domManip (http://localhost:8000/bower_components/jquery/jquery.js:5588:15)
    at init.replaceWith (http://localhost:8000/bow

[2018-09-29 09:53] ujikit commented on #170
nice trick (y), working like a charm.

[2018-10-16 08:50] haydar100 commented on #189
Got the same problem (Version 2.8.5). I just moved the tagName = tagName.toLowerCase(); expression inside the if statement. Hopefully a new release will solve this problem 👍

[2018-10-17 14:34] #189 closed

[2018-10-18 06:44] martinduris opened #192 "Cannot set video (youtube) default iframe width/height"
Hi guys,
i am using angular froala editor 2.8.5 (angular 6+).
When we are adding video:

![1](https://user-images.githubusercontent.com/309316/47135640-60360f00-d2b1-11e8-8d69-b54dc5443458.png)

Froala add iframe. But **iframe has always same width 640px (constant).** Sometimes container, where you want to add conent from froala is smaller -> so to **improve user experience it would be perfect to

[2018-10-18 08:27] FWennerdahl opened #193 "Regression causing model data to be discarded for initOnClick"
When binding data using ng-model in an editor instance created with `initOnClick: true`, the model data isn't bound to the editor. This causes the model data to effectively be discarded.

This was previously logged in #164 and fixed in #171, but was broken again in #181.

The current state makes it impossible to load existing data in an editor with initOnClick set to true.

Please see https://jsfi

[2018-10-22 03:29] septianscp commented on #193
weewew

[2018-10-23 12:19] stefanneculai commented on #192
@martinduris please request it here: https://wysiwyg-editor-roadmap.froala.com. Thanks.

[2018-10-23 12:19] #192 closed

[2018-11-01 08:01] nilupull commented on #190
I also have the same issue in my AngularJS application. Any solution so far?

[2018-11-02 19:46] errepy commented on #170
ajaa install globally please don't try the easy way... on angular.json in style use:
{
"input": "your url"
}
for every javascript you need to add to your project

[2018-11-05 04:55] phuongpt opened #194 "Clicking on ordered list items changes their numbers back to 0"
Hi guys,
I click around on the items while editing and.... the numbers change to 0 on each one I click on.
I'm using angular v1 and ionic.

![screen shot 2018-11-05 at 11 53 47 am](https://user-images.githubusercontent.com/4443583/47978666-a84a9380-e0f1-11e8-8fe1-304b7c4193ca.png)
![screen shot 2018-11-05 at 11 53 28 am](https://user-images.githubusercontent.com/4443583/47978672-abde1a80-e0f1-11e8

[2018-11-08 22:11] ngl4 commented on #170
This works for me!!! Thanks a lot!!!

[2018-11-16 15:21] stefanneculai commented on #194
@phuongpt most likely you have some CSS there on the page which gets into conflict with the editor and changes the list style item.

[2018-11-16 15:21] #194 closed

[2018-11-22 14:04] emilalsgndr commented on #170
thans its work for me (gulpjs)

[2018-12-22 08:32] yeasin-Ahammed-apon commented on #170
<base href="/"> it is working fine for me . thanx

[2018-12-22 08:33] yeasin-Ahammed-apon commented on #170
"<base href="/">"  is working fine for me . thank you.

[2019-01-03 09:18] yonatanLehman commented on #170
The <base href="/"> didn't work for me.
My problem was  that the path to the file was in mixed lower and uppercase and the actual folder structure was in lowercase. My local machine is windows and the actual site is on a Heroku server which seems to be Linux.  Also renaming my local folder to match the case of the link didn't to work, since in Git renaming a folder (and I suppose file) does not ge

[2019-01-09 08:58] jimmyYSY opened #195 "Unable to load uploaded files in the editor"
The file uploaded to the custom server cannot be loaded, and the parameter style returned by'froalaEditor. image. uploaded'is as follows
[code]

[2019-01-15 15:44] stefanneculai commented on #195
See https://wysiwyg-editor.froala.help/hc/en-us/articles/115000593909-How-can-I-use-a-different-image-response-

[2019-01-15 15:44] #195 closed

[2019-02-13 16:32] stefanneculai commented on #150
Closing this due to lack of response.

[2019-02-13 16:32] #150 closed

[2019-02-13 16:34] #177 closed

[2019-02-13 16:35] stefanneculai commented on #182
See https://github.com/froala/wysiwyg-editor/issues/1465#issuecomment-248594297

[2019-02-13 16:35] #182 closed

[2019-02-13 16:35] stefanneculai commented on #185
Closing this due to lack of response.

[2019-02-13 16:35] #185 closed

[2019-02-13 16:36] stefanneculai commented on #190
Please make sure that you destroy the editor instance before going to another page.

[2019-02-13 16:36] #190 closed

[2019-02-14 14:37] Sakessonholm opened #196 "originalEvent in angular missing"
While using the blur-event I want to get a reference to the target element that "stole" focus. As event normally does in event.target. However the event.target in angular froala is not the element that was clicked but rather froala element itself.
I saw here:
https://jsfiddle.net/froala/sx2cx8gf/
That there is a reference to "originalEvent" which seems to be what I am looking for. But this does no

[2019-02-18 09:21] Sakessonholm commented on #196
Posted in wrong github, my issue is with angular 2+.

[2019-02-18 09:21] #196 closed

[2019-02-22 06:34] shashankaccolite commented on #176
In the directive you have defined
`scope.options = { placeholderText: $attr.placeholder, toobarButtons: [ 'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'paragraphFormat', 'formatOL', 'formatUL', 'quote', 'insertLink','|', 'undo', 'redo', ], };`
$attr should be defined first in your code else it will show error that $attr is not defined and that is the reason behind getting the erro

[2019-02-22 10:14] SJDrwsh opened #197 "Copy paste image on froala editor with image on MAC"
If I try to paste with image on mac OS it doesn't copy the image.

[2019-02-26 11:22] #176 closed

[2019-03-05 11:46] #193 closed

[2019-03-06 17:44] krishnavaddepally commented on #170
Okay! so I changed type="text/css" instead of html.
it worked.

[2019-03-21 13:20] #174 closed

[2019-03-21 13:21] #122 closed

[2019-04-03 15:27] mthomasson opened #203 "ngModel not updated when using html.insert method"
When using the html.insert method, the model is not updated. The user needs to focus and blur the  textarea/input for the model to be updated, and the event ```froalaEditor.contentChanged``` is not fired

angular-froala version 2.9.3

[2019-04-04 07:41] #203 closed

[2019-04-04 08:17] johnybravo123 commented on #170
does the job for me

[2019-04-08 14:59] #133 closed

[2019-04-10 09:03] vigneshikl commented on #170
Perfect! It works!

[2019-04-12 01:18] hendisantika commented on #170
It's not working for me.
I don't know why.

<img width="1440" alt="Screen Shot 2019-04-12 at 08 18 09" src="https://user-images.githubusercontent.com/3713580/56005621-8a660800-5cfb-11e9-8bd6-73ac01a4c249.png">

[2019-04-12 04:51] vigneshikl commented on #170
Can you please share the file references ? @hendisantika

[2019-04-12 15:46] hendisantika commented on #170
Sorry, I misunderstood. My project is using Spring Boot not angular. But, I has same issue. Is it still related?

[2019-04-15 07:12] vigneshikl commented on #170
I am not sure, but still wherever you have CSS file reference in your code. Try removing **rel="Stylesheet"**

[2019-04-17 09:30] dollyshah-02 commented on #170
removing rel attribute and adding type="text/html" removed my error.But it is not applying my styles.

[2019-04-17 10:33] vigneshikl commented on #170
@dollyshah-02 It should be **type="text/css"**. Isn't?

[2019-04-28 07:19] khoatran121294 opened #208 "Slow performance on Internet Explorer & Microsoft Edge"
Hi guys,

Currently, I'm encountering a performance issue when applying attribute useClasses: false.
On Chrome & Safari, UI performance works fine but on Internet Explorer & Edge, they run very slow. I think IE or Edge handle DOM element not well when we put the CSS inline element.

Kindly help me to check this issue again.

Thanks,
Khoa

[2019-05-02 11:58] Megas97 commented on #170
@connect2amitu I had the same error but for 'application/json' type and weirdly not on all pages. Wasn't using Angular but your trick still fixed it for me as well. Thanks a lot :)

[2019-05-06 07:57] RHinderiks commented on #172
Has this been fixed yet?

[2019-05-08 23:30] saamtehraani commented on #170
I had the same error, I noticed that I have referenced font-awesome to wrong css file in angular.json file.

In fact references in angular.json and <head></head> should be the same.

I made them the same and the problem solved.

![image](https://user-images.githubusercontent.com/3000791/57414793-faa17400-723c-11e9-8c8c-220d8ff275d6.png)
![image](https://user-images.githubusercontent.com/3000791/57

[2019-05-09 09:46] kp-thibaut commented on #172
Not even close. they fix a XSS issue for the WYSIWYG editor, but here the problem come from the Directive on this line:
 ```return element.froalaEditor('node.isEmpty', jQuery('<div>' + value + '</div>').get(0));```

Even if not attached to the body, there is a dom element create with the content of `value`, but this one is never filtered or secure, so there is still a possibility for XSS attacks.

[2019-05-13 22:58] AlmogCohen opened #209 "Disable text edit and allow text style changes"
This is not an issue, but rather a question - If I missed some community guidelines and it should be asked somewhere else please let me know and feel free to close this issue.

Assuming the text inside the editor is pre-populdated, I want to disable or refuse any edits to the text itself *BUT* allow one toolbar action - applying different inline styles to highlight text selections. Would that be p

[2019-05-13 23:51] AlmogCohen commented on #209
Not sure yet, maybe it is possible to use the events system to cancel changes upon input/keyboard operations (and paste/cut and the rest)...?

[2019-05-14 16:45] AlmogCohen opened #210 "Unable to fire and respond to editor events"
Hi, I've seen a few of these issues already open before but couldn't quite figure out where the issue is or how to solve this. Your help would be much appreciated!

When I set the editor settings in the scope, they all work fine and look as expected (see for example the inlineStyles, buttons and inline toolbar which all work), but no matter what I do I couldn't make the events work... The editor l

[2019-05-20 20:09] AlmogCohen commented on #210
Anyone monitoring this repo?

[2019-05-21 13:18] stefanneculai commented on #210
@AlmogCohen do you think you could make a plunker for it? Thanks in advance.

[2019-05-21 13:20] stefanneculai commented on #209
@AlmogCohen what you could do is to listen to the keydown event and stop it's propagation: https://jsfiddle.net/froala/Lnw7zfd1/

[2019-05-21 13:20] #209 closed

[2019-05-23 06:58] fiatkongen commented on #142
Has anyone made this work? I have included the danish language file from https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.9.5/js/languages/da.js

And added to options: language: 'da'

But it still does not work

[2019-06-12 07:12] franciscosuca commented on #170
This worked for me on Vue js 2. Thanks a lot!

[2019-06-14 13:06] mikkoSarapelto opened #211 "Manual Initialization broken in V3 [BUG]"
##### Behavior:
Using initControls.initialize() doesn't succesfully init the editor. The toolbars are loaded correctly, but only [object HTMLDivElement] will be displayed where the editor window should be. Destroying the editor makes the toolbars disappear, but doesn't actually destroy the editor (initControls.getEditor() != null).

##### Steps to reproduce the problem:
It's broken in the demo too

[2019-06-26 05:07] navneetnagpal commented on #210
@AlmogCohen remove the prefix "froalaEditor.". Let me know if this works.

[2019-06-26 06:38] navneetnagpal commented on #211
Fixed!

[2019-06-26 06:38] #211 closed

[2019-06-27 16:23] AJW86 commented on #170
Hi guys,

I'm not sure if this will help anyone. As it's take me three days to figure out. None of the above worked for me but this instead of using <base href="/"> Im working with node sass.

dist
  css
  img
  js
scss

href="dist/css/main.css"
             ^

i added an extra path at the beginning

[2019-07-17 07:25] aankitkumar31 opened #212 "image and other icons are not showing except bold, underline"
Hii am not able to see other icons except bold, underline you can refer image :
![FireShot Capture 002 - FroalaEditor - localhost](https://user-images.githubusercontent.com/18495421/61355004-09398680-a891-11e9-824a-bdba4935676f.png)
the code which am using it like that this is in angular7 so option is like that ;
`public options: Object = {
    charCounterCount: true,
    toolbarButtons: ['bold','

[2019-07-29 09:12] langereissilvio opened #213 "setting ui and tooltip language"
I have added `language:nl` to the froala options object and added the language file to index.html like so: `<script src="assets/froalaLangs/nl.js"></script>`

Nothing is being translated, however. I can log the FE object in the language file, so it's definitely instantiated, but all tooltips remain in english.

Froala version: 3.0.3-2 (also tested with 3.0.1)
Angular: 8.0.1

[2019-07-31 06:23] langereissilvio commented on #213
Nevermind, found the issue, for those who would come here through google:

Import the file directly into the component -> import 'node_modules/froala-editor/js/languages/nl.js';

[2019-07-31 06:31] langereissilvio commented on #142
@fiatkongen Not sure if you solved it or not, but I managed to get it working by importing the file directly into your component: ` import 'node_modules/froala-editor/js/languages/nl.js';`

[2019-07-31 06:33] #213 closed

[2019-08-09 09:44] fenta23 commented on #212
Hey, got the same after updating the editor to Version 3.

First of all, check your Licence, they changed it for Version 3.
Read the Docs of Version 3, they changed a lot in the config.
You have to import your Plugins now
https://www.froala.com/wysiwyg-editor/docs/plugins

Hope i could help.

[2019-08-23 08:07] gada121982 commented on #170
connect2amitu  it work for me :v. thanks you 🥉

[2019-09-05 22:26] tajinderjit13 opened #215 "ng-required option with ng-model is not working correctly"
When using ng-required or required attribute on textarea the modelValue is set to undefined. This is happening mainly because the $isEmpty function is always returning true.
https://github.com/froala/angular-froala/blob/master/src/angular-froala.js#L97

[2019-09-05 22:33] tajinderjit13 commented on #215
Pull Request for the above fix https://github.com/froala/angular-froala/pull/216

[2019-09-06 07:17] Lelya opened #217 "ReferenceError: FroalaEditor is not defined"
Hello! Installed your bundle. But he not working. A copy of the repository from github.

**./node_modules/angular-froala**
[code]
**./node_modules/froala-editor**
[code]

[code]

In app.js

[code]
In template.html
` <textarea froala class="form-control" id="description" ng-model="$ctrl.description"></textarea>`

What could be the problem?

[2019-09-11 05:04] Robban1980 opened #218 "On $destroy does not clean up the 3.0.5 editor"
In a normal scenario where you go from edit mode to presentation mode and then back to edit mode, the second time you go to edit mode by using ng-if. You will get an
[code]
error showing in the console, this is because the options used to create a new froala editor the second time around has a reference to the previous editor create in the ctrl.options.froalaEditor.
To fix it it must be cleared wh

[2019-09-11 16:14] loganlokku commented on #170
thanks a lot love uuuuuuu

[2019-09-13 00:50] dolphinsd opened #219 "transition from 2.9.X to 3.0.X issues"
Luck of documentation creates questions. Here is our transition pain, we cannot find answers:

1. We used to be able to cal this:
this.editor('events.enableBlur');
What do we call now to enableBlur on the editor in angular ?

2. We used to call this:
 if (this.editor('codeView.isActive')) {
                this.innerValue = this.editor('codeView.get');
                this.onChangeCallback(this.in

[2019-09-13 02:43] #219 closed, assigned to nobody

[2019-09-17 06:37] mikkoSarapelto commented on #218
Yes, I reported this back in #211, but nothing was done to it. AngularJS froala has been in an unusable state for the past three months or so.

[2019-09-24 07:39] chr1s1k commented on #170
I had exactly the same issue and solution was pretty easy => I had wrong path to my CSS file.

I had

`<link rel="stylesheet" type="text/css" href="/css/style.css" />`

instead of

`<link rel="stylesheet" type="text/css" href="/public/css/style.css" />`

Because my project structure is following:

![image](https://user-images.githubusercontent.com/1590635/65491375-3a48bf80-deaf-11e9-9b26-7fb4cadee

[2019-09-26 08:54] xfstef opened #220 "videoMaxSize doesn't work"
Hi.
I'm currently using angular-froala-wysiwyg version 2.9.6 and the videoMaxSize option simply doesn't work.
I wanted to limit the video upload size to 30MB max (and then I found out in the documentation that it should be 30MB max by default anyway) and I can't get it to work. I tried with a lower number as well and still no size check happens when I use the upload a video button.
This is very pe

[2019-09-28 23:27] leandroruel commented on #95
oh my god, got this problem today 2019.

[2019-09-29 03:49] leandroruel opened #221 "error: "An invalid form control with name='' is not focusable"
since the last issue was not solved, i decided to go ahead and open fill this issue.

*issue*
when submiting the form, if the textarea has a required attribute, then the console throws a error about the element with the specified name is not focusable.

*when*
after submit the form.

[2019-10-09 08:10] bbeda commented on #220
Having same issue. Any workarounds or an expected fix date?

[2019-10-24 11:57] christophedebatz commented on #221
Same problem @leandroruel

[2019-10-24 12:30] christophedebatz commented on #95
Same problem...
In fact, when I submit I'm gettiing this error but if, before submitting, I click on the "<>" to view de html code of the editor, then the submit works..

[2019-10-31 13:09] bphilipnyc commented on #170
I found this due to the `@` symbol in the folder name.  Once I renamed the folder, the problem went away.  Adding the base href didn't work.  I opened up a question SO about it:

https://stackoverflow.com/questions/58635585/how-do-i-escape-an-character-in-a-thymeleaf-link-tag/58637963#58637963

[2019-11-12 11:17] shanthan-arepuri commented on #217
I'm having the same problem.

[2019-11-22 10:15] naveen1416 commented on #170
Same issue for me, but there is no Error showing in the console.. :-(

[2019-11-22 18:17] VenkatChinta225 opened #222 "XSS Vulnerability on using an version 2.2.4"
When @"<svg onload=alert('XSS')>" code is injected into the application it is alerting on load in fire fox,i have also tried with higher versions till 2.9.6 but no use, froala version 3 is not supporting my version please help me out

[2019-12-03 10:26] robinwassen opened #223 "ngModel is not set to fr-view when initOnClick: true"
If you have an editor with initOnClick: true and ngModel content, the content is not shown in before clicking the editor.

This is a regression between 2.7.6 and 3.0.6, it was previously fixed as part of #164 but it seems like the fix got lost when rewriting for Froala 3.

**Affects versions:** 3.0.6

**Steps to reproduce:**
- Setup the editor using angular-froala with ngModel set to something and

[2019-12-05 13:22] robinwassen commented on #218
@mikkoSarapelto
@Robban1980

I also encountered this issue - did anyone of you find a workaround for this?

[2019-12-05 14:20] robinwassen commented on #215
@navneetnagpal

Seems like you should merge this since it has gone 3 months and the PR is a straight forward oneliner that fixes one of the many issues with this library.

[2019-12-05 14:48] robinwassen commented on #218
I ended up adding this commit: https://github.com/DigiExam/angular-froala/pull/4/commits/538ed12cca88aa139e9790d80ddf5a3e7ea05b87

Not an especially nice solution - but have spent a few hours too many on this so I was just glad to get rid of the errors.

[2019-12-06 04:02] Robban1980 commented on #218
@robinwassen did not try to do any other workaround than the ones provided above. We currently use the controller in location where the impact can be limited at the moment.

[2019-12-09 15:18] OBoiria commented on #217
Hello ! I am having the same problem with version 3.0.6. Did you fix this issue yet ?

[2019-12-09 15:21] annabplr commented on #217
Hello, I have the same problem. :(

[2019-12-09 15:29] OBoiria commented on #217
You can go through the error by adding the following line : `import FroalaEditor from 'froala-editor/js/froala_editor.min'` at the very beginning of the file `angular-froala.js` in your node modules. However, this is only a hotfix !

[2019-12-10 10:52] jasmineibikunle1 commented on #170
I had this issue and it was caused by having the wrong file path.

[2019-12-26 21:46] skarakash commented on #170
![2019-12-26 23_44_14-D__Projects_Task_views_jsx_main jsx (Task) - Sublime Text (UNREGISTERED)](https://user-images.githubusercontent.com/11464117/71491494-ad106080-2839-11ea-8aac-5c8104cfdbf3.png)
still don't quite understand how this worked but,
`<link rel="stylesheet" type="text/css" href="base.css"/>` did the trick. whil I was stubbornly trying to put it  href="css/base.css"

[2020-01-07 14:35] Chreekar opened #226 "Initialized event loses context"
After updating froala-editor and angular-froala to 3.0.6 from 2.9.3 the events no longer pass the editor instance as a parameter to the callback, instead it is bound to **this**. This is no problem except for the "initialized" event where **this** is bound to window instead of the editor instance. The effect is that you cannot access the editor instance from the initialized callback.

[2020-01-07 15:21] Chreekar commented on #226
I solved it by modifying the directive according to my comment in #214

[2020-01-18 08:20] C0rporeus commented on #142
me too

[2020-01-24 22:57] Mat-Longinow commented on #170
If anyone is here from Pug (with Node.js/Express), here is what worked for me:

In my view .pug file, use their built in `include` (docs [here](https://pugjs.org/language/includes.html))

![Screen Shot 2020-01-24 at 2 54 55 PM](https://user-images.githubusercontent.com/6404079/73109937-86395e80-3eb9-11ea-920c-e00d9936fbab.png)

[2020-01-27 08:33] eugenevk opened #227 "Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.7.9/$injector/modulerr"
When I include 'froala'  in my module definition:
[code]
I get this error message
Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.7.9/$injector/modulerr?p0=myApp&p1=Error%3A%2...

[2020-02-06 05:30] Gaurav-t opened #228 "Module froala is not available"
I am getting the this error while trying to setup froala in an existing AngularJs app. I tried to install it using both npm and bower but it didn't worked, also I am already having it in my app registry in `app.module.js` file. I am confused about this error as it should be get detected once registered.

I would appreciate if anybody havng any idea about that. Thanks in Advance :)
![froala_issue](

[2020-02-21 07:47] sarfraznawaz2005 commented on #170
in my case it was file/folder permission issue.

[2020-02-24 20:46] kikeflowers commented on #170
@connect2amitu  THANKS A LOT! You saved me hours of research.

[2020-03-06 05:07] Trovidan commented on #170
this surely does the trick! thanks a lot dude

[2020-03-13 13:46] Techbinator commented on #217
You can add in the entry file so that you do not need to apply a hotfix directly in the lib

[code]

[2020-03-13 13:52] Lelya commented on #217
Thank you, Techbinator!

[2020-03-13 13:52] #217 closed

[2020-03-26 17:22] idenev opened #229 "Cannot get source of removed image"
I am following documentation of handling deleted image

https://froala.com/wysiwyg-editor/docs/concepts/image/delete/

`imageUploadParams: { profileId: this.currentUser.id },
                    imageUploadURL: this.location.prepareExternalUrl('/FroalaApi/UploadImage'),
                    events: {
                        'froalaEditor.image.uploaded':function (e, editor, response){

[2020-03-27 13:41] heshanrandika commented on #68
below code is not working anymore.

events : {
  'froalaEditor.html.set': function (e, editor) {
    editor.events.trigger('charCounter.update');
  }
}

[2020-03-27 13:43] heshanrandika commented on #68
Hey @jester12345 your below code is not working anymore.

` events : {
   'froalaEditor.html.set': function (e, editor) {
     editor.events.trigger('charCounter.update');
   }
} `

[2020-04-08 17:33] sagarPakhrin commented on #170
This worked for me.

[2020-04-12 23:32] isuruwelagedara commented on #170
make new CSS folder inside the assets folder then put your CSS file inside CSS folder then link again with the new location

`Eg : -  <link rel="stylesheet" href="assets/css/materialize.min.css"> `

[2020-04-22 14:21] bsodmike commented on #217
This saved many many hours of hunting for a solution, thanks!

[2020-04-28 03:24] facundoA2 commented on #170
This worked for me too

[2020-04-30 12:51] AlmogCohen opened #230 "Invalid Bower dependecnies"
As I've pointed our [here](https://github.com/froala/angular-froala/commit/ed3a18ecfe55068218e827580dd988e1d62038ad#commitcomment-38850573) the recent release of `2.9.8` is breaking bower builds.

The dependency of `froala-wysiwyg-editor` version `2.9.8` is missing from the bower repo.

As you can see by running `bower info froala-wysiwyg-editor`, `2.9.8` is not on the list of available versions.